<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BootCampHD</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAEAAAAAAH//BAA=
	</data>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	NQ==
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	FYKsBbiNEkxZ7w==
	</data>
	<key>boot-gamma</key>
	<data>
	wxUAAIYXAAAAAAAAtgAAAAAAAAANAAEB4wQCAgUIBAQpDQcHoRMODjQgGBhULyMj+D0w
	MKdNPT0nXE5O121ycguQmpqQssnJ+9cNAAEB4wQCAgUIBAQpDQcHoRMODjQgGBhULyMj
	+D0wMKdNPT0nXE5O121ycguQmpqQssnJ+9cNAAEB4wQCAgUIBAQpDQcHoRMODjQgGBhU
	LyMj+D0wMKdNPT0nXE5O121ycguQmpqQssnJ+9c=
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkI5ODNFMDM4LUI1
	MEYtNDkzNS04OUFFLTZENjA0NzhERDE0RTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMyPC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAEAAAAAAAQBKgACAAAAKEAGAAAAAAB4O6QLAAAA
	ADjgg7kPtTVJia5tYEeN0U4CAn//BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	QWRtaW7igJlzIE1hYyBQcm8=
	</data>
	<key>prev-lang:kbd</key>
	<data>
	RW5nbGlzaDow
	</data>
</dict>
</plist>
