<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALS_Data</key>
	<data>
	YHvAggAAAAA=
	</data>
	<key>HW_BOOT_DATA</key>
	<data>
	AQAAAAS4AQAAFjAHBQAAAAAAAAAAAAAAALkBAABGERkFAAAAAAAAAAAAAAAAugEAAFlQ
	GQUAAAAAAAAAAAAAAAC7AQAAEVYHBgAAAAAAAAAAAAAAALwBAAAHAAgGAAAAAAAAAAAA
	AAAAswEAAAEpIAQAAAAAAAAAAAAAAAC0AQAAJikiBAAAAAAAAAAAAAAAALUBAABXKQAF
	AAAAAAAAAAAAAAAAtgEAACcwAgUAAAAAAAAAAAAAAAC3AQAAUCcDBQAAAAAAAAAAAAAA
	AA==
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	LQ==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	1w==
	</data>
	<key>ThorUpdateResult</key>
	<data>
	AAAAAAAAAAA=
	</data>
	<key>aht-results</key>
	<data>
	PGRpY3Q+PGtleT5fbmFtZTwva2V5PjxzdHJpbmc+c3BkaWFnc19haHRfdmFsdWU8L3N0
	cmluZz48a2V5PnNwZGlhZ3NfbGFzdF9ydW5fa2V5PC9rZXk+PGRhdGU+MjAxNy0wOC0w
	MVQwNjowNzoxNlo8L2RhdGU+PGtleT5zcGRpYWdzX3ZlcnNpb25fa2V5PC9rZXk+PHN0
	cmluZz4xLjAuMjU8L3N0cmluZz48a2V5PnNwZGlhZ3NfcmVmZXJlbmNlX2NvZGVfa2V5
	PC9rZXk+PHN0cmluZz5BRFAwMDA8L3N0cmluZz48L2RpY3Q+
	</data>
	<key>backlight-level</key>
	<data>
	FgQ=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	joKsBQAAAAAAANypBJWRTw==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	joKsBQAAAADcqQSVkU8=
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjEwMkQxNzFGLTFG
	RDYtNEZERC05MDQ1LTU5QkE3MTMwNTREMDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcVGhvclV0aWwuZWZpPC9zdHJpbmc+PC9kaWN0Pjwv
	YXJyYXk+AA==
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAcAQEGAAAAAxYQAAEAAAD9bqsYDAIFAAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAAB8XLRDWH91PkEVZunEwVNACAgQEYABcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABU
	AGgAbwByAFUAdABpAGwALgBlAGYAaQAAAH//BAA=
	</data>
	<key>efi-apple-payload1</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjEwMkQxNzFGLTFG
	RDYtNEZERC05MDQ1LTU5QkE3MTMwNTREMDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLUI0ODMxQ0VCRDUyQTBDNEMtQzBfNS40Ni4w
	LUMwLTIyLjMuYmluPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload1-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAcAQEGAAAAAxYQAAEAAAD9bqsYDAIFAAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAAB8XLRDWH91PkEVZunEwVNACAgQEnABcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABN
	AGEAYwAtAEIANAA4ADMAMQBDAEUAQgBEADUAMgBBADAAQwA0AEMALQBDADAAXwA1AC4A
	NAA2AC4AMAAtAEMAMAAtADIAMgAuADMALgBiAGkAbgAAAH//BAA=
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjEwMkQxNzFGLTFG
	RDYtNEZERC05MDQ1LTU5QkE3MTMwNTREMDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxNQlAxNDFfMDE2N19CMDAuZmQ8L3N0cmluZz48L2RpY3Q+PC9hcnJheT4A
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjI2NkYxNTU2LTcx
	MjctNDIyQy1BQjk0LTc3MEQwODIwQjI3OTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMXMyPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEUxQUE3MDc5LURE
	OEEtM0EwMi1CMDAwLUVBNjQ4MEJDNzgzOVxTeXN0ZW1cTGlicmFyeVxDb3JlU2Vydmlj
	ZXNcYm9vdC5lZmk8L3N0cmluZz48L2RpY3Q+PC9hcnJheT4A
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAcAQEGAAAAAxYQAAEAAAD9bqsYDAIFAAQBKgACAAAABiwB
	AAAAAAD108IBAAAAAENtPYUVTZlAhLXD9aZHwZ0CAgQDJAD3/HS+fAvzSZFHAfQELmhC
	VhVvJidxLEKrlHcNCCCyeQQEmgBcAEUAMQBBAEEANwAwADcAOQAtAEQARAA4AEEALQAz
	AEEAMAAyAC0AQgAwADAAMAAtAEUAQQA2ADQAOAAwAEIAQwA3ADgAMwA5AFwAUwB5AHMA
	dABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABi
	AG8AbwB0AC4AZQBmAGkAAAB//wQA
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjQm9vayBQcm/CoOKAlCBBbGV4YW5kZXI=
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBs************************************************************U3Rh
	dGVY************************************************************ZUNv
	bnRl************************************************************VGlt
	ZVRn************************************************************cxAA
	0xAR************************************************************dE5h
	bWVf************************************************************eGFu
	ZGVy************************************************************ZHZP
	eXdN************************************************************+V8Q
	JDA2************************************************************cGxl
	LkRh************************************************************bmFt
	ZV1h************************************************************b3Vk
	LmNv************************************************************ANMA
	6wEBARYBKwE1AT4BaQFqAW0BgwGNAZYBvQG/AeMB5gHvAfYB/wINAhQCHwI1AjsAAAAA
	AA************************************==
	</data>
	<key>multiupdater-0</key>
	<data>
	VABoAG8AcgBVAHQAaQBsAC4AZQBmAGkAAAAtAGcAIAAtAG8AIAAtAHMAcgAgADAAIAAw
	ACAALQBmAHMAIABlAGYAaQAtAGEAcABwAGwAZQAtAHAAYQB5AGwAbwBhAGQAMQAtAGQA
	YQB0AGEAIAAtAG4AbwByAGUAcwBlAHQAIAAAAAAAAAAAAAAA
	</data>
	<key>prev-lang:kbd</key>
	<data>
	cnUtVUE6MjUy
	</data>
	<key>previous-system-uuid</key>
	<data>
	RTFBQTcwNzktREQ4QS0zQTAyLUIwMDAtRUE2NDgwQkM3ODM5
	</data>
</dict>
</plist>
