<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALS_Data</key>
	<data>
	AQA=
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	ZA==
	</data>
	<key>Test_ALS_Data</key>
	<data>
	AjE=
	</data>
	<key>aht-results</key>
	<data>
	PGRpY3Q+PGtleT5fbmFtZTwva2V5PjxzdHJpbmc+c3BkaWFnc19haHRfdmFsdWU8L3N0
	cmluZz48a2V5PnNwZGlhZ3NfbGFzdF9ydW5fa2V5PC9rZXk+PGRhdGU+MjAxMy0wNi0y
	OVQxNjo0NjoxNVo8L2RhdGU+PGtleT5zcGRpYWdzX3Jlc3VsdF9rZXk8L2tleT48c3Ry
	aW5nPnNwZGlhZ3NfZmFpbGVkX3ZhbHVlPC9zdHJpbmc+PGtleT5zcGRpYWdzX3ZlcnNp
	b25fa2V5PC9rZXk+PHN0cmluZz4xLjA8L3N0cmluZz48a2V5PnNwZGlhZ3NfZmFpbHVy
	ZV9jb2RlX2tleTwva2V5PjxzdHJpbmc+UFBQMDA3PC9zdHJpbmc+PC9kaWN0Pg==
	</data>
	<key>backlight-level</key>
	<data>
	+QA=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	j4KsBQAAMxSEODVA5Gk=
	</data>
	<key>boot-gamma</key>
	<data>
	EAYAAPCcAAAAAAAAbgAAAAAAAAAHAAQE2wULC7IOHh6VJDY2bT5XV09gd3cJgKGhh6gH
	AAQE2wULC7IOHh6VJDY2bT5XV09gd3cJgKGhh6gHAAQE2wULC7IOHh6VJDY2bT5XV09g
	d3cJgKGhh6g=
	</data>
	<key>boot-image</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAUcAQEGAAAAAxIKAAAAAAAAAAQEGAAyAGUAZABlAGEANQAw
	ADAAMAAAAH//BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	
	</data>
</dict>
</plist>
