<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SystemAudioVolume</key>
	<data>
	Og==
	</data>
	<key>backlight-level</key>
	<data>
	WwA=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	HYKsBVyWnXgLuA==
	</data>
	<key>boot-gamma</key>
	<data>
	cgQAAHStAAAOB0BwtgAAAAAAAAANAAEB4wQCAgUIBAQpDQcHoRMODjQgGBhULyMj+D0w
	MKdNPT0nXE5O121ycguQmpqQssnJ+9cNAAEB4wQCAgUIBAQpDQcHoRMODjQgGBhULyMj
	+D0wMKdNPT0nXE5O121ycguQmpqQssnJ+9cNAAEB4wQCAgUIBAQpDQcHoRMODjQgGBhU
	LyMj+D0wMKdNPT0nXE5O121ycguQmpqQssnJ+9c=
	</data>
	<key>boot-image</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQEGgAyADEAYQA0ADQAMwA3ADAAMAAw
	AAAAf/8EAA==
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjQm9vayBQcm8gLSBOZXdaaGlsbGE=
	</data>
	<key>gpu-policy</key>
	<data>
	AA==
	</data>
</dict>
</plist>
