<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<data>
		7g==
		</data>
		<key>MaximumBootBeepVolumeAlt</key>
		<data>
		AA==
		</data>
		<key>PinConfigurations</key>
		<data>
		AAGmkDCQqwAAAaaQMJCrAA==
		</data>
		<key>eqDeviceUsbCC</key>
		<data>
		AAAhAA==
		</data>
		<key>eqDeviceUsbVP</key>
		<data>
		kQKsBQ==
		</data>
		<key>layout-id</key>
		<data>
		fgAAAA==
		</data>
		<key>multiEQDevicePresence</key>
		<data>
		AAEAAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>TBTFlags</key>
		<data>
		AwAAAA==
		</data>
		<key>ThunderboltConfig</key>
		<data>
		AAD//zAAAQBdAAIAMQABADIAAgABAAIA
		</data>
		<key>ThunderboltDROM</key>
		<data>
		x0DZBw0YAAEAl5XWDwFWAAEACwABAgiBgAKAAAAACIKQAYAAAAACwwLECIUA
		AAAAAAADhmADh4ADiKADicACygWLUACCBYxQAIQNAUFwcGxlIEluYy4ADAJN
		YWNpbnRvc2gA
		</data>
		<key>ThunderboltUUID</key>
		<data>
		uo1+5Wzb31qpuJ4dVSLmKw==
		</data>
		<key>linkDetails</key>
		<data>
		CAAAAAMAAAA=
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAACwAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAQAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,ig-platform-id</key>
		<data>
		BgAmFg==
		</data>
		<key>StartupDisplay</key>
		<data>
		R04CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAA
		AACtCw3wAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		RwAAAAAAAAAAAAAAAAAAAAAAAwAGACYWANkKagoAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQEBAAYQG6ACAQAAAAAAAAAA
		AAKQWkwFoAWEA6AAAAAaAAAAMAAgAAMABgCgBYQDABgAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		</data>
	</dict>
</dict>
</plist>
