<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<data>
		7w==
		</data>
		<key>MaximumBootBeepVolumeAlt</key>
		<data>
		8Q==
		</data>
		<key>PinConfigurations</key>
		<data>
		AAGmkECQqwAAAaaQQJCrAAAAAAAAAAAA
		</data>
		<key>layout-id</key>
		<data>
		ewAAAA==
		</data>
		<key>multiEQDevicePresence</key>
		<data>
		DAABAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1c,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>ThunderboltConfig</key>
		<data>
		AAD//zAAAQBdAAIAMQABADIAAQABAAIA
		</data>
		<key>ThunderboltDROM</key>
		<data>
		BWA8LgYTAAEAfotcywFiAAEACwABAQiBgAKAAAAACIKQAYAAAAAIg4AEgAEA
		AAiEkAOAAQAACIUAAAAAAAADhmADh4ADiKADicACygWLUACCBYxQAIQNAUFw
		cGxlIEluYy4ADAJNYWNpbnRvc2gA
		</data>
		<key>ThunderboltUUID</key>
		<data>
		6pZjah6Hmlu+CX3lKEsasg==
		</data>
		<key>linkDetails</key>
		<data>
		CAAAAAMAAAA=
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAACwAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAQAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,ig-platform-id</key>
		<data>
		AgArFg==
		</data>
		<key>StartupDisplay</key>
		<data>
		R04CAAAAAAAACgAAQAYAACD8ABAAAAAAAAoAAEAGAACgAAAAAAAAAAAAAAAu
		AAAAAAAAAAAAAAAwAAAAIAAAAAMAAAAGAAAAAAAAAAAAAAAAAAABAAAAAAAA
		AACtCw3wAQAAAAAAAAAACgAAQAYAACD8ABAAAAAAAAoAAEAGAACgAAAAAAAA
		AAAAAAAuAAAAAAAAAAAAAAAwAAAAIAAAAAMAAAAGAAAAAAAAAAAAAAA=
		</data>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		RwAAAAAAAAAAAAAAAAAAAAAAAwACACsWAGwFcAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		</data>
	</dict>
</dict>
</plist>
