<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>ThunderboltDROM</key>
		<data>
		fiCYpBIMAAEAK+fAvwFJAAEACgABAQiBgAJAJgAACIKQAUAmAAAIgwAAAAAA
		AAOEgAOFYASGUAACxw4BQXBwbGUsIEluYy4ADgJNYWNCb29rIEFpcgAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>ThunderboltUUID</key>
		<data>
		/KgIc5PXrV65t3mRUbjnvg==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<string>W</string>
		<key>PinConfigurations</key>
		<data>
		MEArDiABEJAQAaCQ
		</data>
		<key>layout-id</key>
		<data>
		YgAAAA==
		</data>
		<key>platformFamily</key>
		<data>
		AA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,os-info</key>
		<data>
		MEkBEhISCAAAAQ8fAQAAABAHAAA=
		</data>
		<key>AAPL,snb-platform-id</key>
		<data>
		AAAEAA==
		</data>
		<key>AAPL,tbl-info</key>
		<data>
		MEQCAgICAAAAAAICAgIBAQEB
		</data>
		<key>graphic-options</key>
		<data>
		BAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		AQAAAAAAAAAGEAAA8pwAANQGAAAQBwAAAEQA2AAWAAAAAAAAVQXbBWMFmwVV
		BdsFAAAAAAAAAAAAAAAAWAAAwf8CVQX/Ah8DAAAAAAADAwP/Ah8DCA4CAAEA
		AcQGbxcAxAnkAjQIfUAAAAAABEAEsAAAAAAAAAAAAKJKBAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
	</dict>
</dict>
</plist>
