<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<string>d</string>
		<key>MaximumBootBeepVolumeAlt</key>
		<data>
		AA==
		</data>
		<key>PinConfigurations</key>
		<data>
		IEArABABEJAwkKsAAAGmkA==
		</data>
		<key>eqDeviceUsbCC</key>
		<data>
		AAAhAA==
		</data>
		<key>eqDeviceUsbVP</key>
		<data>
		kQKsBQ==
		</data>
		<key>layout-id</key>
		<data>
		cgAAAA==
		</data>
		<key>multiEQDevicePresence</key>
		<data>
		AAEAAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1c,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>ThunderboltConfig</key>
		<data>
		AAD//zAAAQBdAAIAMQABADIAAgABAAIA
		</data>
		<key>ThunderboltDROM</key>
		<data>
		kADgphoNAAEAVpZEowFWAAEACgABBgiBgAKAAAAACIKQAYAAAAACwwLECIUA
		AAAAAAADhmADh4ADiKADicACygWLUACCBYxQAIQNAUFwcGxlIEluYy4ADAJN
		YWNpbnRvc2gA
		</data>
		<key>ThunderboltUUID</key>
		<data>
		ta+bPq8IqVKxCi3yQaKTuA==
		</data>
		<key>linkDetails</key>
		<data>
		CAAAAAMAAAA=
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAACwAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAQAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,ig-platform-id</key>
		<data>
		BgAmCg==
		</data>
		<key>boot-gamma-restored</key>
		<data>
		AAAAAAAAAAA=
		</data>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		RwAAAAAAAAAAAAAAAAAAAAAAAwAGACYKANkK3gAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQEBAAYQ8JwCAQAAAAAAAAAA
		AAKQWkwFoAWEA6AAAAAaAAAAMAAgAAMABgCgBYQDABgAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		</data>
	</dict>
</dict>
</plist>
