<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	QA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	5w==
	</data>
	<key>aht-results</key>
	<data>
	PGRpY3Q+PGtleT5fbmFtZTwva2V5PjxzdHJpbmc+c3BkaWFnc19haHRfdmFsdWU8L3N0
	cmluZz48a2V5PnNwZGlhZ3NfbGFzdF9ydW5fa2V5PC9rZXk+PGRhdGU+MjAxNS0xMi0y
	NVQyMjoyMjowMFo8L2RhdGU+PGtleT5zcGRpYWdzX3ZlcnNpb25fa2V5PC9rZXk+PHN0
	cmluZz4xLjAuMTZyMzwvc3RyaW5nPjxrZXk+c3BkaWFnc19yZWZlcmVuY2VfY29kZV9r
	ZXk8L2tleT48c3RyaW5nPkFEUDAwMDwvc3RyaW5nPjwvZGljdD4=
	</data>
	<key>backlight-level</key>
	<data>
	ttc=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	jYKsBQIAAABjFLQY0eWwog==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	jYKsBQAAYxS0GNHlsKI=
	</data>
	<key>display-config</key>
	<data>
	AAAlAXMI//8BAA==
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkFFRTI5ODlCLTZD
	MDctNDZDNC1CNDM4LUMxOEJEQ0U4QzcwQzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxJTTE0MV8wMTE4X0IxM19MT0NLRUQuc2NhcDwvc3RyaW5nPjwvZGljdD48
	L2FycmF5PgA=
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkI3OEZEQUJGLTZC
	ODgtNDcxRS04RDU0LTgzRDBCMzY5NTU5Njwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMyPC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAABAzlZ0AAAA
	AL/aj7eIax5HjVSD0LNpVZYCAn//BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	aU1hY8Kg4oCUINCS0LDQtNC40Lw=
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDaAQIDBAUGBwgJCgsMFxgZGhscHSRWdXNlcmlkXxATZGF0YWNsYXNzUHJv
	cGVydGllc1lhdXRoVG9rZW5YcGVyc29uSURYdXNlcm5hbWVXYWRkVGltZV8QEmVuYWJs
	ZWREYXRhY2xhc3Nlc1RndWlkWHVzZXJJbmZvXxARb3NVc2VyRGlzYXBwZWFyZWQRAfXR
	DQ5fECFjb20uYXBwbGUuRGF0YWNsYXNzLkRldmljZUxvY2F0b3LUDxAREhMUFRZWYXBz
	RW52WGhvc3RuYW1lXWF1dGhNZWNoYW5pc21Wc2NoZW1lWlByb2R1Y3Rpb25fEBNwMTMt
	Zm1pcC5pY2xvdWQuY29tVXRva2VuVWh0dHBzXxAoQVFBQUFBQldHcVdDNE9GcGZ4ZGdn
	QXAwX0hhVDZzZzNFOXh2Z2dFfloxNDUxMzUyOTgxXxAVZmFtaWx5MTIzMjAwOUBtYWls
	LnJ1I0HVhqlhqCwKoQ1fECRDQTVCODU3My00RkVGLTRCN0UtQjVBQi05OTcyRUQ1MTQw
	QULTHh8gISIjXxAVSW5Vc2VPd25lckRpc3BsYXlOYW1lXxATSW5Vc2VPd25lckZpcnN0
	TmFtZV8QEkluVXNlT3duZXJMYXN0TmFtZW4EEgQwBDQEOAQ8ACAEHQQ1BDkEPARLBEgE
	NQQyZQQSBDAENAQ4BDxoBB0ENQQ5BDwESwRIBDUEMgkACAAdACQAOgBEAE0AVgBeAHMA
	eACBAJUAmACbAL8AyADPANgA5gDtAPgBDgEUARoBRQFQAWgBcQFzAZoBoQG5Ac8B5AIB
	AgwCHQAAAAAAAAIBAAAAAAAAACUAAAAAAAAAAAAAAAAAAAIe
	</data>
	<key>prev-lang:kbd</key>
	<data>
	cnU6MA==
	</data>
</dict>
</plist>
