<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALS_Data</key>
	<data>
	BH4=
	</data>
	<key>BootCampProcessorPstates</key>
	<data>
	EAA=
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SmcFlasherResult</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAA==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	XQ==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	9Q==
	</data>
	<key>Test_ALS_Data</key>
	<data>
	AQA=
	</data>
	<key>backlight-level</key>
	<data>
	zQA=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	iYKsBQEAAACDFDwVwsgMuQ==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	iYKsBQAAgxQ8FcLIDLk=
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjkzOUVGNzJDLUFD
	RTctNDUzNy05RDY0LTJFOUIwQ0Y5N0VBNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xTTUNcTWFjLTJCRDFCMzE5ODNGRTE2NjMuc21jPC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAQcAQEGAAAAAxIKAAAAAAAAAAQBKgABAAAAKAAAAAAAAAAA
	QAYAAAAAACz3npPnrDdFnWQumwz5fqQCAgQEZgBcAEUARgBJAFwAQQBQAFAATABFAFwA
	VQBQAEQAQQBUAEUAUgBTAFwAUwBNAEMAXABNAGEAYwAtADIAQgBEADEAQgAzADEAOQA4
	ADMARgBFADEANgA2ADMALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-payload1</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjkzOUVGNzJDLUFD
	RTctNDUzNy05RDY0LTJFOUIwQ0Y5N0VBNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xTTUNcZmxhc2hlcl9iYXNlLnNtYzwvc3RyaW5nPjwvZGljdD48L2FycmF5
	PgA=
	</data>
	<key>efi-apple-payload1-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAQcAQEGAAAAAxIKAAAAAAAAAAQBKgABAAAAKAAAAAAAAAAA
	QAYAAAAAACz3npPnrDdFnWQumwz5fqQCAgQEVgBcAEUARgBJAFwAQQBQAFAATABFAFwA
	VQBQAEQAQQBUAEUAUgBTAFwAUwBNAEMAXABmAGwAYQBzAGgAZQByAF8AYgBhAHMAZQAu
	AHMAbQBjAAAAf/8EAA==
	</data>
	<key>efi-apple-payload2</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjkzOUVGNzJDLUFD
	RTctNDUzNy05RDY0LTJFOUIwQ0Y5N0VBNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xTTUNcZmxhc2hlcl91cGRhdGUuc21jPC9zdHJpbmc+PC9kaWN0PjwvYXJy
	YXk+AA==
	</data>
	<key>efi-apple-payload2-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAQcAQEGAAAAAxIKAAAAAAAAAAQBKgABAAAAKAAAAAAAAAAA
	QAYAAAAAACz3npPnrDdFnWQumwz5fqQCAgQEWgBcAEUARgBJAFwAQQBQAFAATABFAFwA
	VQBQAEQAQQBUAEUAUgBTAFwAUwBNAEMAXABmAGwAYQBzAGgAZQByAF8AdQBwAGQAYQB0
	AGUALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-payload3</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjkzOUVGNzJDLUFD
	RTctNDUzNy05RDY0LTJFOUIwQ0Y5N0VBNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xTTUNcTWFjLTJCRDFCMzE5ODNGRTE2NjMuZXBtPC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload3-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAQcAQEGAAAAAxIKAAAAAAAAAAQBKgABAAAAKAAAAAAAAAAA
	QAYAAAAAACz3npPnrDdFnWQumwz5fqQCAgQEZgBcAEUARgBJAFwAQQBQAFAATABFAFwA
	VQBQAEQAQQBUAEUAUgBTAFwAUwBNAEMAXABNAGEAYwAtADIAQgBEADEAQgAzADEAOQA4
	ADMARgBFADEANgA2ADMALgBlAHAAbQAAAH//BAA=
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjkzOUVGNzJDLUFD
	RTctNDUzNy05RDY0LTJFOUIwQ0Y5N0VBNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxNQlAxMTJfMDEzOF9CMTRfTE9DS0VELnNjYXA8L3N0cmluZz48L2RpY3Q+
	PC9hcnJheT4A
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkRFMjVBOEIxLUJE
	N0YtNDhFQy05OUVCLUQyQkU2MjkzNzJGNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMzPC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAQcAQEGAAAAAxIKAAAAAAAAAAQBKgADAAAAYBEqOgAAAAAg
	XxMAAAAAALGoJd5/vexImevSvmKTcvQCAn//BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjQm9vayBQcm8gLSDQkNGA0LjQvdCw
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDXAQIDBAUGBwgJFBUWFxhWdXNlcmlkXxATZGF0YWNsYXNzUHJvcGVydGll
	c1lhdXRoVG9rZW5YcGVyc29uSURYdXNlcm5hbWVfEBJlbmFibGVkRGF0YWNsYXNzZXNY
	dXNlckluZm8RAfXRCgtfECFjb20uYXBwbGUuRGF0YWNsYXNzLkRldmljZUxvY2F0b3LU
	DA0ODxAREhNWYXBzRW52WGhvc3RuYW1lXWF1dGhNZWNoYW5pc21Wc2NoZW1lWlByb2R1
	Y3Rpb25fEBNwMTUtZm1pcC5pY2xvdWQuY29tVXRva2VuVWh0dHBzXxAoQVFBQUFBQlV3
	U2pFS09Vc01Ya3lLUFN6TlhDMkdFcjJfVE9rZzFFfloxNjM3NTcwMjE4XxASYXJpc2hh
	LnNmZ0BtYWlsLnJ1oQrTGRobHB0eXxAVSW5Vc2VPd25lckRpc3BsYXlOYW1lXxATSW5V
	c2VPd25lckZpcnN0TmFtZV8QEkluVXNlT3duZXJMYXN0TmFtZWwEMARABDgEPQQwACAE
	MwRDBEAENgQ4BDllBDAEQAQ4BD0EMGYEMwRDBEAENgQ4BDkACAAXAB4ANAA+AEcAUABl
	AG4AcQB0AJgAoQCoALEAvwDGANEA5wDtAPMBHgEpAT4BQAFHAV8BdQGKAaMBrgAAAAAA
	AAIBAAAAAAAAAB8AAAAAAAAAAAAAAAAAAAG7
	</data>
	<key>good-samaritan-message</key>
	<data>
	0KDQsNC30LHQu9C+0LrQuNGA0L7QstC60LAgZS1tYWlsOiBhcHBsZXJldHJpZXZlaWRA
	Z21haWwuY29t
	</data>
	<key>gpu-policy</key>
	<data>
	AQ==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	cnU6MTk0NTY=
	</data>
</dict>
</plist>
