<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMbiosdate</key>
	<string>02/29/08</string>
	<key>SMbiosvendor</key>
	<string>Apple Computer, Inc.</string>
	<key>SMbiosversion</key>
	<string>MP31.88Z.006C.B05.0802291410</string>
	<key>SMboardproduct</key>
	<string>Mac-F42C88C8</string>
	<key>SMfamily</key>
	<string>Mac Pro</string>
	<key>SMmanufacturer</key>
	<string>Apple Computer, Inc.</string>
	<key>SMproductname</key>
	<string>MacPro3,1</string>
	<key>SMserial</key>
	<string>RM909303XYL</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
