<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x17,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>@0,AAPL,boot-display</key>
		<string></string>
		<key>@0,EDID</key>
		<data>
		AP///////wAGEPOcAAAAACMUAQOAGg54Cu8Fl1dUkiciUFQAAAABAQEBAQEB
		AQEBAQEBAQEBIBxWhlAAIDAOOBMAAJAAAAAYAAAAAQAGECAAAAAAAAAAAAog
		AAAA/gBMVEgxMTZBVDAxQTAxAAAA/ABDb2xvciBMQ0QKICAgAK8=
		</data>
		<key>@0,NVDA,UnderscanMin</key>
		<data>
		VQAAAA==
		</data>
		<key>@0,NVMT</key>
		<data>
		DgP/IAYQ85xWBQAD3AVgBZgFAAAgAwEDBAMAAACiSgQAAAEBhAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAAAAAAAAAAAABAAAAAAAAAwAI
		AAASAgEYCgEAAAABAABWBQADVgUAAw==
		</data>
		<key>@0,backlight-control</key>
		<data>
		AQAAAA==
		</data>
		<key>@0,built-in</key>
		<string></string>
		<key>@0,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@0,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@0,device_type</key>
		<string>display</string>
		<key>@0,display-cfg</key>
		<data>
		AwQIAA==
		</data>
		<key>@0,fboffset</key>
		<data>
		AAABAA==
		</data>
		<key>@0,name</key>
		<string>NVDA,Display-A</string>
		<key>@0,pwm-info</key>
		<data>
		AhgAZEAZAQAcAgAA1QgCAAAEAAABAAAA
		</data>
		<key>@0,use-backlight-blanking</key>
		<string></string>
		<key>@1,NVDA,UnderscanMin</key>
		<data>
		VQAAAA==
		</data>
		<key>@1,can-hot-plug</key>
		<string></string>
		<key>@1,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@1,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@1,device_type</key>
		<string>display</string>
		<key>@1,display-cfg</key>
		<data>
		//8GAQ==
		</data>
		<key>@1,name</key>
		<string>NVDA,Display-B</string>
		<key>AAPL,aux-power-connected</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,backlight-control</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL00,InverterFrequency</key>
		<data>
		HAIAAA==
		</data>
		<key>AAPL00,blackscreen-preferences</key>
		<data>
		AAAACA==
		</data>
		<key>AAPL01,blackscreen-preferences</key>
		<data>
		AAAACA==
		</data>
		<key>Ext_Present</key>
		<data>
		AQ==
		</data>
		<key>NVCAP</key>
		<data>
		BQEAAAAAAQAGAAAAAAAADwAAAAA=
		</data>
		<key>NVDA,Features</key>
		<data>
		/wbUAA==
		</data>
		<key>VRAM,totalsize</key>
		<data>
		AAAAEA==
		</data>
		<key>device_type</key>
		<string>NVDA,Parent</string>
		<key>graphic-options</key>
		<data>
		BAAAAA==
		</data>
		<key>model</key>
		<string>NVIDIA GeForce 320M</string>
		<key>rom-revision</key>
		<string>3571</string>
		<key>saved-config</key>
		<data>
		DwhMAdQAAABwABAGnPMAAwL/VgUAA9wFCgBCACADAQAEAAwAIBwAAAAAAAAB
		AAAAAAAAAAADEgIBCAoBAAAAAQAAAAD/AFYFAANWBQADAAAAUwAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>subsystem-id</key>
		<data>
		1AAAAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x8,0x0)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<string>W</string>
		<key>PinConfigurations</key>
		<data>
		MEArASABEJAQAaCQ
		</data>
		<key>layout-id</key>
		<data>
		YwAAAA==
		</data>
		<key>platformFamily</key>
		<data>
		AA==
		</data>
	</dict>
</dict>
</plist>
