<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>@0,AAPL,boot-display</key>
		<string></string>
		<key>@0,EDID</key>
		<data>
		AP///////wAGEBmgAAAAADAWAQSlIRV4Am+xp1VMniUMUFQAAAABAQEBAQEB
		AQEBAQEBAQEB74NAoLAINHAwIDYAS88QAAAaAAAA/ABDb2xvciBMQ0QKICAg
		AAAAEAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAALwAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAExQMTU0V1QxLVNKRTEKIABEQ040
		MTUyMFBaVkZENE5BMAogICAgIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>@0,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@0,NVMT</key>
		<data>
		DgN/IAAAAABACwgH4AtwC5ALAAA8BwsHEQcAAPCnIRQAAAABrwAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAAAAAAAAAAAABAAAAAAAA/wAA
		AAC8AgFaCgQAAAACAABACwgHQAsIBw==
		</data>
		<key>@0,built-in</key>
		<string></string>
		<key>@0,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@0,connector-type</key>
		<data>
		AgQAAA==
		</data>
		<key>@0,device_type</key>
		<string>display</string>
		<key>@0,display-cfg</key>
		<data>
		AwQIAA==
		</data>
		<key>@0,fboffset</key>
		<data>
		AAACAA==
		</data>
		<key>@0,name</key>
		<string>NVDA,Display-A</string>
		<key>@0,pwm-info</key>
		<data>
		AhgAZFYnBQAAAAAAAAAAAAAEAAABAAAA
		</data>
		<key>@0,use-backlight-blanking</key>
		<string></string>
		<key>@1,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@1,can-hot-plug</key>
		<string></string>
		<key>@1,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@1,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@1,device_type</key>
		<string>display</string>
		<key>@1,name</key>
		<string>NVDA,Display-B</string>
		<key>@2,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@2,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@2,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@2,device_type</key>
		<string>display</string>
		<key>@2,name</key>
		<string>NVDA,Display-C</string>
		<key>@3,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@3,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@3,connector-type</key>
		<data>
		AAgAAA==
		</data>
		<key>@3,device_type</key>
		<string>display</string>
		<key>@3,name</key>
		<string>NVDA,Display-D</string>
		<key>NVCAP</key>
		<data>
		BQEAAAAAAQAGAAAAAAAADwAAAAA=
		</data>
		<key>NVDA,Features</key>
		<data>
		/xYwAQ==
		</data>
		<key>NVDA,invalid-config</key>
		<data>
		AAAAAA==
		</data>
		<key>StartupDisplay</key>
		<data>
		R04CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAA
		AAAQBhmgEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>VRAM,memvendorID</key>
		<data>
		BgAAAA==
		</data>
		<key>VRAM,totalMB</key>
		<data>
		AAgAAA==
		</data>
		<key>VRAM,totalsize</key>
		<data>
		AAAAgAAAAAA=
		</data>
		<key>device_type</key>
		<string>NVDA,Parent</string>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>model</key>
		<string>NVIDIA GeForce GT 750M</string>
		<key>rom-revision</key>
		<string>3776</string>
		<key>saved-config</key>
		<data>
		DwhMBDABAABgABAGoBkAAwJ/QAsIB+ALMABQADwHAwAJAAgA74MAAAAAAAAB
		AAAAAAAAAAAEAAABCgoEAAAAAgAAAAAAAEALCAdACwgHAAAAAAAAAQAAAAAA
		AA8AgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAA/wAAAAAAAAAAAAAAAAAAAAIAAAAAAAAPAIAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAAA
		AAAAAAAAAAAAAAADAAAAAAAADwCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAA
		</data>
		<key>subsystem-id</key>
		<data>
		MAEAAA==
		</data>
		<key>vbios-revision</key>
		<data>
		AQTHB4A=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1,0x1)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>ThunderboltConfig</key>
		<data>
		AAD//yUAAQAmAAIAJwABABYAAgABAAIA
		</data>
		<key>ThunderboltDROM</key>
		<data>
		hwCXdAMPAAEAfotcywFiAAEACwABAQiBgAKAAAAACIKQAYAAAAAIg4AEgAEA
		AAiEkAOAAQAACIUAAAAAAAADhmADh4ADiKADicACygWLUACCBYxQAIQNAUFw
		cGxlIEluYy4ADAJNYWNpbnRvc2gA
		</data>
		<key>ThunderboltUUID</key>
		<data>
		cKrQoPkxAFeJEhtjUk5sRw==
		</data>
		<key>linkDetails</key>
		<data>
		CAAAAAMAAAA=
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAACwAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAQAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<string>b</string>
		<key>MaximumBootBeepVolumeAlt</key>
		<string>]</string>
		<key>PinConfigurations</key>
		<data>
		AAGmkECQqwAAAaaQQJCrAAAAAAAAAAAA
		</data>
		<key>layout-id</key>
		<data>
		XgAAAA==
		</data>
		<key>multiEQDevicePresence</key>
		<data>
		DAABAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,ig-platform-id</key>
		<data>
		CQAmDQ==
		</data>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		RwAAAAAAAAAAAAAAAAAAAAAAAwAJACYNAKEHAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQEBAAYQGaACAkAAAAAAAAAA
		AALwpyEUQAsIB6AAAAA0AAAAMAAgAAMABgBACwgHAC4AAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		</data>
	</dict>
</dict>
</plist>
