<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>TBTFlags</key>
		<data>
		AwAAAA==
		</data>
		<key>ThunderboltConfig</key>
		<data>
		AAIcAAwABwQBAA4ABwQCAA0ABwQBABIABAQCAAIAAQA=
		</data>
		<key>ThunderboltDROM</key>
		<data>
		4QA0qPAhywEAJvLsQwFYAAEADQABAAiBgAKAAAAACIKQAYAAAAAIg4AEgAEA
		AAiEkAOAAQAABYUJAQAFhgkBAAKHA4ggA4mAAsoCyw0BQXBwbGUgSW5jLgAM
		Ak1hY2ludG9zaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>ThunderboltUUID</key>
		<data>
		A7nIbhAelFmUjj9JhQSJ3w==
		</data>
		<key>linkDetails</key>
		<data>
		CAAAAAMAAAA=
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAACwAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAQAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1D,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>TBTFlags</key>
		<data>
		AwAAAA==
		</data>
		<key>ThunderboltConfig</key>
		<data>
		AQIdAAwABwQBAA4ABwQCAA0ABwQBABQABAQCAAQAAwA=
		</data>
		<key>ThunderboltDROM</key>
		<data>
		8gE0qPAhywEArBA+VQFYAAEADQABAAiBgQKBAAAACIKRAYEAAAAIg4EEgQEA
		AAiEkQOBAQAABYUJAQAFhgkBAAKHA4ggA4mAAsoCyw0BQXBwbGUgSW5jLgAM
		Ak1hY2ludG9zaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>ThunderboltUUID</key>
		<data>
		n8S/8TkAD1OjFNw/JNIo6g==
		</data>
		<key>linkDetails</key>
		<data>
		CAAAAAMAAAA=
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAACwAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAQAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,Gfx324</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,GfxYTile</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,ig-platform-id</key>
		<data>
		BAClPg==
		</data>
		<key>AAPL00,PanelCycleDelay</key>
		<data>
		+gAAAA==
		</data>
		<key>AAPL00,PanelPowerDown</key>
		<data>
		PAAAAA==
		</data>
		<key>AAPL00,PanelPowerOff</key>
		<data>
		EQAAAA==
		</data>
		<key>AAPL00,PanelPowerOn</key>
		<data>
		GQEAAA==
		</data>
		<key>AAPL00,PanelPowerUp</key>
		<data>
		MAAAAA==
		</data>
		<key>GraphicsDisplaySetup</key>
		<data>
		AAABAAAAAAAEAAAAqAwAAAAAAAAAAAEAAAADAAAAkGyKDwAAAAAACgAAQAYA
		AFAAAAAAAAAAAAAAAC4AAAAAAAAAAAAAAAgAAAAgAAAAASAAAAAIAAAAAAAB
		AAEAAAAAAAAA//8EAAAAAAAAAQEAqAwAAAAAAQBACwAACAcAAAAAAAABAAAA
		AAAAAAA=
		</data>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		RwAAAAAAAAAAAAAAAAAAAAAAAwAEAKU+Ac5WcAYAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQEBAAYQPqACA0AAAAAAAAAA
		AAKQbIoPAApABlAAAAAuAAAACAAgACAACABACwgHWgABAAEAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAA
		</data>
	</dict>
</dict>
</plist>
