<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>@0,AAPL,boot-display</key>
		<string></string>
		<key>@0,EDID</key>
		<data>
		AP///////wAGEAWwAAAAABwWAQS1PCJ4Im+xp1VMniUMUFQAAAABAQEBAQEB
		AQEBAQEBAQEBVl4AoKCgKVAwIDUAVVAhAAAaGh0AgFHQHCBAgDUAVVAhAAAc
		AAAA/ABpTWFjCiAgICAgICAgAAAAAAAAAAAAAAAAAAAAAAAAAY4CAyjBIwkH
		B4MBAABw+hAAABJ6Mfx4vbICEIh05Wr6EADb7vX3+P7/Vl4AoKCgKVAwIDUA
		VVAhAAAaGh0AgFHQHCBAgDUAVVAhAAAcAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAzA==
		</data>
		<key>@0,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@0,NVMT</key>
		<data>
		DgN/IAAAAAAACqAFoAowClAKAADJBaMFqAUAAGD/ZA4AAAABrwAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAAAAAAAAAAAABAAAAAAAA/wAA
		AAC8AgFKCgQAAAADAAAACqAFAAqgBQ==
		</data>
		<key>@0,built-in</key>
		<string></string>
		<key>@0,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@0,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@0,device_type</key>
		<string>display</string>
		<key>@0,display-cfg</key>
		<data>
		AwQIAA==
		</data>
		<key>@0,fboffset</key>
		<data>
		AAACAA==
		</data>
		<key>@0,name</key>
		<string>NVDA,Display-A</string>
		<key>@0,use-backlight-blanking</key>
		<string></string>
		<key>@1,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@1,can-hot-plug</key>
		<string></string>
		<key>@1,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@1,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@1,device_type</key>
		<string>display</string>
		<key>@1,name</key>
		<string>NVDA,Display-B</string>
		<key>@2,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@2,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@2,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@2,device_type</key>
		<string>display</string>
		<key>@2,name</key>
		<string>NVDA,Display-C</string>
		<key>@3,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>NVCAP</key>
		<data>
		BQAAAAAAAQAGAAAAAAAADwAAAAA=
		</data>
		<key>NVDA,Features</key>
		<data>
		/xYgAQ==
		</data>
		<key>NVDA,invalid-config</key>
		<data>
		AAAAAA==
		</data>
		<key>VRAM,memvendorID</key>
		<data>
		AwA=
		</data>
		<key>VRAM,totalMB</key>
		<data>
		AAgAAA==
		</data>
		<key>VRAM,totalsize</key>
		<data>
		AAAAgAAAAAA=
		</data>
		<key>boot-gamma-restored</key>
		<data>
		AAAAAAAAAAA=
		</data>
		<key>device_type</key>
		<string>NVDA,Parent</string>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>model</key>
		<string>NVIDIA GeForce GTX 775M</string>
		<key>rom-revision</key>
		<string>3745</string>
		<key>saved-config</key>
		<data>
		DwhMAyABAABgABAGsAUAAwJ/AAqgBaAKMABQAMkFAwAIAAgAVl4AAAAAAAAB
		AAAAAAAAAAAEAAABCgoEAAAAAwAAAAAAAAAKoAUACqAFAAAAfn4AAQAAAAAA
		AA8AgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAA/wAAAAAAAAAAAAAAAAAAAAIAAAAAAAAPAIAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAAA
		AAAAAAAAAAAAAAA=
		</data>
		<key>subsystem-id</key>
		<data>
		IAEAAA==
		</data>
		<key>vbios-revision</key>
		<data>
		AQDEBIA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<string>M</string>
		<key>MaximumBootBeepVolumeAlt</key>
		<string>M</string>
		<key>PinConfigurations</key>
		<data>
		AAGmkAABppAAAAAAAAAAAA==
		</data>
		<key>layout-id</key>
		<data>
		BwAAAA==
		</data>
		<key>multiEQDevicePresence</key>
		<data>
		AAABAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1c,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>ThunderboltConfig</key>
		<data>
		AAD//yUAAQAmAAIAJwABABYAAgABAAIA
		</data>
		<key>ThunderboltDROM</key>
		<data>
		6QBgnRsNAAEAzHwJbgFlAAEACgABCgiBgAKAAAAACIKQAYAAAAAIg4AEgAEA
		AAiEkAOAAQAACIUAAAAAAAADhmADh4ADiKADicAFilAAAAWLUACCBYxQAIQN
		AUFwcGxlIEluYy4ADAJNYWNpbnRvc2gA
		</data>
		<key>ThunderboltUUID</key>
		<data>
		Di6CEIxndVy6VKSUmGAKCA==
		</data>
		<key>linkDetails</key>
		<data>
		CAAAAAMAAAA=
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAACwAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAQAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,ig-platform-id</key>
		<data>
		BAASBA==
		</data>
	</dict>
</dict>
</plist>
