<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HW_BOOT_DATA</key>
	<data>
	AQAAAAkUAAAAMRIiJwAAAAAAAAAAAAAAABUAAAA5AgcoAAAAAAAAAAAAAAAAFgAAAAMo
	ECgAAAAAAAAAAAAAAAAXAAAAMEcQKAAAAAAAAAAAAAAAABgAAAAnIQYpAAAAAAAAAAAA
	AAAAGQAAAFZWETAAAAAAAAAAAAAAAAAaAAAASSUgMAAAAAAAAAAAAAAAABsAAAAwJiAw
	AAAAAAAAAAAAAAAAHAAAAAgnIDAAAAAAAAAAAAAAAAAdAAAAISkgMAAAAAAAAAAAAAAA
	AA==
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	ewCsBQAAAAAAADj503BVlA==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	ewCsBQAAAAA4+dNwVZQ=
	</data>
	<key>csr-active-config</key>
	<data>
	dwAAAA==
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjIG1pbmnCoOKAlCBHZW40aWc=
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBs************************************************************U3Rh
	dGVY************************************************************ZUNv
	bnRl************************************************************VGlt
	ZVRn************************************************************cxAA
	0xAR************************************************************dE5h
	bWVf************************************************************bmFk
	aXlZ************************************************************Rzkx
	WkM1************************************************************ekNS
	VlBB************************************************************UXRU
	V21a************************************************************dzFJ
	UXpJ************************************************************NDE4
	NCNB************************************************************MqEe
	XxAh************************************************************KSpW
	YXBz************************************************************c21a
	UHJv************************************************************LTRE
	MTct************************************************************AIAA
	iQCS************************************************************lgKd
	AqY**********************************************************AMd
	</data>
	<key>fmm-mobileme-token-FMM-BridgeHasAccount</key>
	<data>
	QnJpZGdlSGFzQWNjb3VudFZhbHVl
	</data>
</dict>
</plist>
