<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Copyright</key>
	<string>SMBios by 7ender @ InMac.org	Created with Champlist.app</string>
	<key>SMbiosdate</key>
	<string>10/17/11</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>IM121.88Z.0047.B1D.1110171110</string>
	<key>SMboardproduct</key>
	<string>Mac-942B59F58194171B</string>
	<key>SMfamily</key>
	<string>iMac</string>
	<key>SMmanufacturer</key>
	<string>Apple Inc.</string>
	<key>SMproductname</key>
	<string>iMac12,2</string>
	<key>SMserial</key>
	<string>C02H5088DHJP</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
