<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DropOemSSDT</key>
		<string>Yes</string>
		<key>FixDsdtMask</key>
		<string>0x0000</string>
		<key>GenerateCStates</key>
		<string>No</string>
		<key>GeneratePStates</key>
		<string>No</string>
		<key>ResetAddress</key>
		<string>0xCF9</string>
		<key>ResetValue</key>
		<string>0x06</string>
		<key>UnderVoltStep</key>
		<string>0</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>Turbo</key>
		<string>No</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>FBName</key>
		<string>Ipomoea</string>
		<key>GraphicsInjector</key>
		<string>No</string>
		<key>PatchVBios</key>
		<string>Yes</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>ATIConnectorInfo</key>
		<string>No</string>
		<key>ATIConnectorsController</key>
		<string>6000</string>
		<key>ATIConnectorsData</key>
		<string>000400000403000000010000120401050008000004020000000100001102040310000000100000000001000000000002</string>
		<key>ATIConnectorsPatch</key>
		<string>040000000403000000010100100001040008000004020000000102002103050210000000100000000001030000000001</string>
		<key>AppleRTC</key>
		<string>Yes</string>
		<key>AsusAICPUPM</key>
		<string>No</string>
		<key>KernelCpu</key>
		<string>No</string>
	</dict>
	<key>PCI</key>
	<dict>
		<key>HDAInjection</key>
		<string>No</string>
		<key>LpcTune</key>
		<string>No</string>
		<key>PCIRootUID</key>
		<string>0</string>
		<key>StringInjector</key>
		<string>No</string>
		<key>InjectClockID</key>
		<string>No</string>
		<key>USBInjection</key>
		<string>No</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>iMac10,1</string>
		<key>SerialNumber</key>
		<string>FC945630B9U</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>DefaultBootVolume</key>
		<string>Mount.Lion</string>
		<key>InjectSystemID</key>
		<string>Yes</string>
		<key>boot-args</key>
		<string>-v arch=x86_64 npci=0x2000 kernel=105_kernel</string>
		<key>prev-lang:kbd</key>
		<string>ru:0</string>
	</dict>
</dict>
</plist>
