<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BluetoothUHEDevices</key>
	<data>
	dI88wzUeAgRkx1PtNKuUJQAAHgBNeWtvbGEgR3J5bWFseXVr4oCZcyBUcmFja3BhZAAe
	uyxzSBtfg9WiUSn3XlWHZQJMAAEAaP73dEdvQCUAAB4ATXlrb2xhIEdyeW1hbHl1a+KA
	mXMgS2V5Ym9hcmQADM0XRh+TSZVVg2UyqME5rmcCTAABAA==
	</data>
	<key>IDInstallerDataV2</key>
	<data>
	4D5icGxpc3QwMKgBCAwPERMVF9MCAwQFBgdRMFMxMDBRNlUyMEM2OVZwYXNzZWRXdXBn
	cmFkZdIECQoLUzUwNV8QFmtleSByZWNvdmVyeSAAJgBO5GFudFgIMeAId29yZNQNBAMC
	BQcGDlExWDIwRDUwNDJkGGPnEFVjbGVhbhAh5Q4HBhJVCB9QDzPkEgcGFPSWNjLkFAcG
	FvVWNOQWBwYYAEzgEEU1MTcyaQgRGBoeICYtNTo+V2Bpa3R7gYqQmZ+orrcAEAHOAQEA
	8p4ZAPbjAADABgAAAAAAAAA=
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	gA==
	</data>
	<key>SystemAudioVolumeExtension</key>
	<data>
	zQM=
	</data>
	<key>auto-boot</key>
	<data>
	dHJ1ZQ==
	</data>
	<key>backlight-nits</key>
	<data>
	MHgwMDdkYTRlMg==
	</data>
	<key>battery-health</key>
	<data>
	eyJ3YWl0RmMiOjAsInZlcnNpb24iOjY1NTM2LCJuY2NBdmciOjUxNTMsImZjY0RheVNh
	bXBsZUNvdW50IjowLCJmY2NBdmdIaXN0b3J5Q291bnQiOjE1MiwiZmNjRGF5U2FtcGxl
	QXZnIjowLCJCYXR0ZXJ5IFNlcnZpY2UgU3RhdGUiOjAsIm5jY0F2Z0FsdCI6NTE1NCwi
	QmF0dGVyeSBTZXJ2aWNlIEZsYWdzIjozLCJNYXhpbXVtIENhcGFjaXR5IFBlcmNlbnQi
	OjEwNSwibmNjIjoxMDEsIkJhdHRlcnkgU2VyaWFsIjoiRDg2MDQ5MkFBNzZMNEQ2RUMi
	LCJmY2NEYXlTYW1wbGVBdmdBbHQiOjAsIm5jY0FsdCI6MTAxfQ==
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	mACsBQMAAAAAAHSPPMM1Hg==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	mACsBQAAAAB0jzzDNR4=
	</data>
	<key>boot-args</key>
	<string></string>
	<key>boot-info-payload</key>
	<data>
	3qpRpt+TiXU0dshfLbXCk5Y+g2+Nq5lF/BMncPd5Oupa49Qh2Cj9SAfiRdBD+ygv8VEc
	BCjjCfgoi4ozjpnqPafl+qtugxwc1ZCFbKp0S1c3Dm+I+2P8BBYRAQ2uvOLFrS5V05Vd
	S6pmX3Uksuzwap0mE8JmSM3PNhJ/qH+5nwoUplkm9CeUaKZc2jBqPsn87b/zaGX7ZigM
	a9v9RcWkI23MAJ2JOXbujzCH8dzc8FkD9Azl01KgP15ftOenpl80BJmlvp9o7cXzYFm0
	VnBv48wJ3bwb3N4NmwYW6lFb+MJQ4IkBV59MnUrMhXGhHp0+RTyx1szBd8Tid+iLANnX
	WShQSwTRTnt5EEb4AhIcSXAdZjxWbfPzDTEkvmKExJvNZKyfTaGl0fJ8bryBqKfpMQ==
	</data>
	<key>boot-note</key>
	<data>
	IAAAAAAAAAC8VLCiAAAAAICRnAkIAAAA
	</data>
	<key>boot-volume</key>
	<data>
	RUY1NzM0N0MtMDAwMC1BQTExLUFBMTEtMDAzMDY1NDNFQ0FDOkFGNzgzQjM0LUVERTct
	Qzc0Mi05OTM5LTQ0NzkwMjc4NzRGMzpEMjBDOUVCRi1BMDE3LTQ1MTgtOUQ4NC01RjNE
	QTNBNTI3NzY=
	</data>
	<key>current-network</key>
	<data>
	AAAAAAAAAAAEAAUADAAAAEdyeW0tV2lmaSA1RwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAIAAAAFy5GD0nTZpynmddpcRbmjHorDDVqJasYfucViwp+Zvw
	</data>
	<key>fmm-computer-name</key>
	<data>
	TXlrb2xh4oCZcyBNYWNCb29rIFBybw==
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDeAQIDBAUGBwgJCgsMDQ4PEBcYDxkaDxscHR4fIV8QD3VucmVnaXN0ZXJT
	dGF0ZVh1c2VySW5mb1lhdXRoVG9rZW5ecm9vdFZvbHVtZVVVSUReZGlzYWJsZUNvbnRl
	eHRWdXNlcmlkXxAQbGFzdElkZW50aXR5VGltZV1lbmFibGVDb250ZXh0WHVzZXJuYW1l
	WHBlcnNvbklEV2FkZFRpbWVUZ3VpZF8QEmVuYWJsZWREYXRhY2xhc3Nlc18QE2RhdGFj
	bGFzc1Byb3BlcnRpZXMQANMREhMUFRZfEBVJblVzZU93bmVyRGlzcGxheU5hbWVfEBNJ
	blVzZU93bmVyRmlyc3ROYW1lXxASSW5Vc2VPd25lckxhc3ROYW1lUFZNeWtvbGFZR3J5
	bWFseXVrXxDMRUFCbkFBQUFCTHdJQUFBQUFGX3hONWNSRG1kekxtbGpiRzkxWkM1aGRY
	Um92UURkTEhWbzlpSTFqQVhHVGlETk1GN3NxeUhRMEU3cWlHR2ZiQS0zbEVXZ2RNQjN4
	V2E2OW9SaENETDZRT3RVVEExdWVJYVcxTTlRRlctalRaN0pGMzRKUGVLUXlfaC1mS0F4
	OHMxdHNjSDEydGEwYndlV21BSDlBVloxM2tidVBTWTlzT2ZxR0NzMDMxaUdxVTh0d1o0
	RWRERVFEZ35+XxAkQjg4QjczNEUtMDY4Ni00RTY2LUFCQjgtNzAyMTIyQ0I5MDYxEQH1
	I0HX/E33yyL2XxATZHJhY29mbGFyQGdtYWlsLmNvbVoxNjM1ODkyMzM1I0HX/E3sDiym
	XxAkODc0NTYxODQtMjFCRS00NzBDLTg1RjctNTM0ODY1NzFENzAzoSBfECFjb20uYXBw
	bGUuRGF0YWNsYXNzLkRldmljZUxvY2F0b3LRICLVIyQlJicoKSorLFZhcHNFbnZYaG9z
	dG5hbWVdaWRzSWRlbnRpZmllclZzY2hlbWVdYXV0aE1lY2hhbmlzbVpwcm9kdWN0aW9u
	XxATcDEzLWZtaXAuaWNsb3VkLmNvbV8QJDVGQjNBRjkwLUFBNDAtNDA1MC05QTUzLTYx
	QzRDNTdBRDNBNFVodHRwc1V0b2tlbgAIACUANwBAAEoAWQBoAG8AggCQAJkAogCqAK8A
	xADaANwA4wD7AREBJgEnAS4BOAIHAi4CMQI6AlACWwJkAosCjQKxArQCvwLGAs8C3QLk
	AvIC/QMTAzoDQAAAAAAAAAIBAAAAAAAAAC0AAAAAAAAAAAAAAAAAAANG
	</data>
	<key>fmm-mobileme-token-FMM-BridgeHasAccount</key>
	<data>
	QnJpZGdlSGFzQWNjb3VudFZhbHVl
	</data>
	<key>ota-controllerVersion</key>
	<data>
	U1VNYWNDb250cm9sbGVyLTEuMTA=
	</data>
	<key>ota-updateType</key>
	<data>
	aW5jcmVtZW50YWw=
	</data>
	<key>panicmedic-timestamps</key>
	<data>
	NWI4MzE3NmNmODVjNg==
	</data>
	<key>policy-nonce-digests</key>
	<data>
	MDAzM0I3NUI4NTIwQjg2MzRCOTZCMTk3RDk2ODgwNjc3NjcxQkVGRjgzREYwMURBNDhF
	ODFBOTc1NkRGRDU5Q0IwMkI0MEU5NjBDOEVDOEVENTU0NkZCOTJCQjI3NzZEMzg3RUM5
	QzRGN0FEQTRGQzEzRTNGRjEzRUQ4RDBCNzc2MUEwQjU3NjE5ODJFNDhGOUNEQkFBQzBC
	RDIxRkU5MUFEMzAwQ0IzNzE3NUI4OTFFRjI3RUUxQTMzOTRFNENGQTZFNzk4Q0NDNUEx
	NzlCREM5RTJFMzA1RjA4ODEwQ0VCN0FEQTEyMTJDQkVGMUMyMTM0QzcwRjczOTk0NTA2
	RDY2M0Y5QjQ0M0I5MENBOUEzOUQ0NUY2NUI5OEZENjBENzFCM0JCRUU2OURBMzhGNTE2
	MzFGNjA1RjZBRTI2NDY0RDEyRUJGNjEwNkMwRUUxOEU5NEZEMDNGNzVDQUIzREU5MkU0
	RjAyODMxNUZDQzM0RkE1QzlFQzU4NUYxNEM2OTU5QzFFM0RCREM4RTQ0NDI5RUIwQzcx
	MjU0MUUyM0REMTM3MDdCQTAyOEMwRkNBMjJEOTExNjlGRjFFNEY5MkRBMThEM0ZCM0JC
	NjVCNTE0OUNDMUI1MDVERkZGNDUzRjQwNTJFM0VFODRBNTFBNUFGNkFGRjYwOEZEMkRG
	NEE5OTlBQTg0RUM0MjM0RDg4QzVEOTYxOUY0MzFGNDYxQjgxNUZBNUE0NDgzQTRGMjE3
	MzI1QjI4QTRFRDg1OUZG
	</data>
	<key>preferred-networks</key>
	<data>
	AAAAAAAAAAAEAAUADAAAAEdyeW0tV2lmaSA1RwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAIAAAAFy5GD0nTZpynmddpcRbmjHorDDVqJasYfucViwp+ZvwAAAAAAAAAAAAAAAA
	CAAAAFNoYXdPcGVuAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAUAGwAAAE15a29sYSBH
	cnltYWx5dWvigJlzIGlQaG9uZQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAANFWkRnIq5xJBgHj18ZTu4IN
	pl3JpkMYNCY4WsHPIDrkAAAAAAAAAAAEAAUADgAAAEdyeW0tV2lmaSAyLjRHAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAIAAAAJ1H6VhRoHN8t3GyWCl7g/eR75XbipOxNg2RpTJQ
	DHjRAAAAAAAAAAAEAAUADAAAAFNQU0VUVVAtOEU0QgAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAIAAAAApSGvfPgNrPdoT89/5Mk1nErM84Dx4lMal5qySPzKJdAAAAAAAAAAAE
	AAUADAAAAEdyeW4tV2lmaSA1RwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAIf
	CzC1IltCEAKCYS7NzHptYzGBMSn3xBaXeij+/8QaAAAAAAAAAAAEAAUAEQAAAFJULUFD
	NjZVX0IxXzU4XzVHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAACd0Uis6zAgcjyKivTSw
	/sjdmbyJ27lgS9dw5/K/E/HDAAAAAAAAAAAEAAMADgAAAFNIQVctRUE4NDMyLTVHAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAP85qZgovBpKqUejodlgrhIgUNEo+Tz/VEJX
	+4Y4XFUOAAAAAAAAAAAEAAMACwAAAFNIQVctRUE4NDMyAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAIAAAACvGRXzv3ohGHnH6B0ZkecO0bak0k+0KxFj3Q73Cbq5XAAAAAAAA
	AAAEAAUADAAAAExhbWJlcnQgaG9tZQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAA
	AIBRa/XA0L9KgfzUcUWX6heuwVlHCXSvFVSrp1EQTOW5
	</data>
	<key>prev-lang-diags:kbd</key>
	<data>
	ZW4=
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46Mjk=
	</data>
	<key>update-volume</key>
	<data>
	RUY1NzM0N0MtMDAwMC1BQTExLUFBMTEtMDAzMDY1NDNFQ0FDOkFGNzgzQjM0LUVERTct
	Qzc0Mi05OTM5LTQ0NzkwMjc4NzRGMzowNkRFRENFNi00MkUyLTQzNDUtOTMzMi0yQzcy
	NDJERDYxQzM=
	</data>
	<key>upgrade-boot-volume</key>
	<data>
	RUY1NzM0N0MtMDAwMC1BQTExLUFBMTEtMDAzMDY1NDNFQ0FDOkFGNzgzQjM0LUVERTct
	Qzc0Mi05OTM5LTQ0NzkwMjc4NzRGMzozRDMyODdERS0yODBELTQ2MTktQUFBQi1EOTc0
	NjlDQTlDNzE=
	</data>
	<key>usbcfwflasherResult</key>
	<data>
	Tm8gZXJyb3Jz
	</data>
</dict>
</plist>
