<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BootCampHD</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAH//BAA=
	</data>
	<key>BootCampProcessorPstates</key>
	<data>
	DgA=
	</data>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	fw==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	AA==
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	iYKsBQEAAAAzFGxACJjKpw==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	iYKsBQAAMxRsQAiYyqc=
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjY1MTFERUEyLTY3
	QUEtNEIxMy04NjMzLTA5MTI1RjEzOTk4MTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxNTTcxXzAyMjBfQjAyX0xPQ0tFRC5zY2FwPC9zdHJpbmc+PC9kaWN0Pjwv
	YXJyYXk+AA==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjc1OTQzRkEwLUUx
	RjMtNEEwMS04NDg3LTFGODE1NDYxQTc5OTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHM0PC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgADAAAA6AAlOgAAAAAgXxMAAAAA
	AKA/lHXz4QFKhIcfgVRhp5kCAn//BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjIE1pbmk=
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDYAQIDBAUGBwgJChUWFxgZGlZ1c2VyaWRfEBNkYXRhY2xhc3NQcm9wZXJ0
	aWVzWWF1dGhUb2tlblhwZXJzb25JRFh1c2VybmFtZVdhZGRUaW1lXxASZW5hYmxlZERh
	dGFjbGFzc2VzWHVzZXJJbmZvEQH20QsMXxAhY29tLmFwcGxlLkRhdGFjbGFzcy5EZXZp
	Y2VMb2NhdG9y1A0ODxAREhMUVmFwc0Vudlhob3N0bmFtZV1hdXRoTWVjaGFuaXNtVnNj
	aGVtZVpQcm9kdWN0aW9uXxATcDM2LWZtaXAuaWNsb3VkLmNvbVV0b2tlblVodHRwc18Q
	KEFRQUFBQUJWYmRfRUFhbUtZU3hpa2V1bkpjcllsQW02dVRqckd3NH5aODM1MzEzNjk1
	NV8QF21hc2xvdmRvY2VudEBpY2xvdWQuY29tI0HVW3f2m01qoQvTGxwdHh8gXxAVSW5V
	c2VPd25lckRpc3BsYXlOYW1lXxATSW5Vc2VPd25lckZpcnN0TmFtZV8QEkluVXNlT3du
	ZXJMYXN0TmFtZWwEGAQzBD4EQARMACAEHAQwBEEEOwQ+BDJlBBgEMwQ+BEAETGYEHAQw
	BEEEOwQ+BDIACAAZACAANgBAAEkAUgBaAG8AeAB7AH4AogCrALIAuwDJANAA2wDxAPcA
	/QEoATMBTQFWAVgBXwF3AY0BogG7AcYAAAAAAAACAQAAAAAAAAAhAAAAAAAAAAAAAAAA
	AAAB0w==
	</data>
</dict>
</plist>
