<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x10,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>@0,AAPL,boot-display</key>
		<string></string>
		<key>@0,EDID</key>
		<data>
		AP///////wAEcnOtSCxBgAQSAQOAJh5rKmdgolpJniMTUFS/7wCBj4GAcU9x
		QGFPYUBFT0VAMCoAmFEAKkAwcBMAeC0RAAAeAAAA/wBMNzMwODUxMTQyREUK
		AAAA/QA3Sx5TDgAKICAgICAgAAAA/ABBY2VyIEFMMTkxNwogAOE=
		</data>
		<key>@0,NVMT</key>
		<data>
		CwMlIARyc60ABQAEmAYwBaAFAAAqBAEEBAQAAADzbwYAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAAAAAAECz1QkBAAAAAAAAAwAI
		AAAAAAAA
		</data>
		<key>@0,can-hot-plug</key>
		<string></string>
		<key>@0,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@0,connector-type</key>
		<data>
		AAIAAA==
		</data>
		<key>@0,device_type</key>
		<string>display</string>
		<key>@0,display-cfg</key>
		<data>
		AwEDAA==
		</data>
		<key>@0,fboffset</key>
		<data>
		AAABAA==
		</data>
		<key>@0,name</key>
		<string>NVDA,Display-A</string>
		<key>@1,can-hot-plug</key>
		<string></string>
		<key>@1,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@1,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@1,device_type</key>
		<string>display</string>
		<key>@1,display-cfg</key>
		<data>
		//8CAQ==
		</data>
		<key>@1,name</key>
		<string>NVDA,Display-B</string>
		<key>AAPL,aux-power-connected</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,backlight-control</key>
		<data>
		AAAAAA==
		</data>
		<key>AAPL00,Coherency</key>
		<data>
		AgAAAA==
		</data>
		<key>AAPL00,blackscreen-preferences</key>
		<data>
		AAAACA==
		</data>
		<key>AAPL01,blackscreen-preferences</key>
		<data>
		AAAACA==
		</data>
		<key>NVCAP</key>
		<data>
		BQAAAAAABgAJAAAAAAAACwAAAAA=
		</data>
		<key>NVDA,Features</key>
		<data>
		/wauAA==
		</data>
		<key>VRAM,totalsize</key>
		<data>
		AAAAEA==
		</data>
		<key>device_type</key>
		<string>NVDA,Parent</string>
		<key>model</key>
		<string>NVIDIA GeForce 9400</string>
		<key>rom-revision</key>
		<string>3362</string>
		<key>saved-config</key>
		<data>
		CwgwAq4AAABgAHIErXMAAwIlAAUABJgGMACgACoEAQAEAAAAMCp0QAAAAAAB
		AAAAAAAAAAADAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAABAAAAAAAAAAAAAACA////3LcYQID///8AAAAAAAAAAP//2Q8AAAAAAAQA
		AAAAAAD4txhAgP///wAAAAAAAAAACLgYQID///8suBhAgP///wC0GECA////
		BMleCID///+A////gNYICID///+APTkIgP///wBZ2AeA////QDc5CID///+A
		1wgIgP///0A1OQiA////VfoPoKv0H0BW6T+ArdJ/AA==
		</data>
		<key>subsystem-id</key>
		<data>
		rgAAAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x16,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>fwswappedbib</key>
		<data>
		AQAAAA==
		</data>
		<key>fwtune</key>
		<data>
		AAAACOPjBAAAAAgI4+MUQQAAQAggC0C/AABwCBAAAAA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x8,0x0)</key>
	<dict>
		<key>AFGLowPowerState</key>
		<data>
		AQAAAA==
		</data>
		<key>CodecAddressMask</key>
		<data>
		AQ==
		</data>
		<key>MaximumBootBeepVolume</key>
		<string>;</string>
		<key>PinConfigurations</key>
		<data>
		QEArARAwiwEwARCQUOBLASDgywE=
		</data>
		<key>layout-id</key>
		<data>
		QQAAAA==
		</data>
		<key>platformFamily</key>
		<data>
		AA==
		</data>
	</dict>
</dict>
</plist>
