<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Ig==
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	BoKsBQAf868otw==
	</data>
	<key>boot-gamma</key>
	<data>
	rBAAABXwAABMMksxtgAAAAAAAAANAAEB4wQCAgUIBAQpDQcHoRMODjQgGBhULyMj+D0w
	MKdNPT0nXE5O121ycguQmpqQssnJ+9cNAAEB4wQCAgUIBAQpDQcHoRMODjQgGBhULyMj
	+D0wMKdNPT0nXE5O121ycguQmpqQssnJ+9cNAAEB4wQCAgUIBAQpDQcHoRMODjQgGBhU
	LyMj+D0wMKdNPT0nXE5O121ycguQmpqQssnJ+9c=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjIFBybyAtIEFuZHJldw==
	</data>
</dict>
</plist>
