<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>ThunderboltDROM</key>
		<data>
		bWBJTxcKAAEAkubwgwFbAAEACgABAQiBgAJAJgAACIKQAUAmAAACwwLEAsUI
		hgAAAAAAAAOHgAOIoAOJwAOKYALLBYxQAAAFjVAAAA4BQXBwbGUsIEluYy4A
		DgJNYWNCb29rIFBybwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>ThunderboltUUID</key>
		<data>
		4VlMIYMyyFesESXlsttLwQ==
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAABQAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAIAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<string>_</string>
		<key>PinConfigurations</key>
		<data>
		MEArACEBEJAgARCQEAGgkEDgSwA=
		</data>
		<key>layout-id</key>
		<data>
		UgAAAA==
		</data>
		<key>platformFamily</key>
		<data>
		AA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1c,0x2)/Pci(0x0,0x0)</key>
	<dict>
		<key>fwswappedbib</key>
		<data>
		AQAAAA==
		</data>
		<key>fwtune</key>
		<data>
		AAAACOPjBAAAAAgI4+MMQQAAQAggC0C/AABwCBAAAAA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,ig-platform-id</key>
		<data>
		AwBmAQ==
		</data>
		<key>AAPL00,DataJustify</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL00,Dither</key>
		<data>
		AAAAAA==
		</data>
		<key>AAPL00,DualLink</key>
		<data>
		AAAAAA==
		</data>
		<key>AAPL00,InverterFrequency</key>
		<data>
		AAAAAA==
		</data>
		<key>AAPL00,LinkFormat</key>
		<data>
		AAAAAA==
		</data>
		<key>AAPL00,LinkType</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL00,PixelFormat</key>
		<data>
		AAAAAA==
		</data>
		<key>AAPL00,T1</key>
		<data>
		AAAAAA==
		</data>
		<key>AAPL00,T2</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL00,T3</key>
		<data>
		yAAAAA==
		</data>
		<key>AAPL00,T4</key>
		<data>
		yAAAAA==
		</data>
		<key>AAPL00,T5</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL00,T6</key>
		<data>
		AAAAAA==
		</data>
		<key>AAPL00,T7</key>
		<data>
		kAEAAA==
		</data>
		<key>graphic-options</key>
		<data>
		BAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		VQAAAAAAAAAAAAAAAAAAAAEAAgADAGYBAAAAAADIAMgAAAAAAF4BEAcnAgAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEBAgUA
		BhDLnAIBAAQAAAAAAAAAACBDUgQABSADjwAAAC4AAAAwACAAAwAGAAAFIAMA
		FAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAA=
		</data>
	</dict>
</dict>
</plist>
