<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<data>
		8g==
		</data>
		<key>MaximumBootBeepVolumeAlt</key>
		<data>
		AA==
		</data>
		<key>PinConfigurations</key>
		<data>
		AAGmkDCQqwAQARCQIEArAA==
		</data>
		<key>layout-id</key>
		<data>
		ZQAAAA==
		</data>
		<key>multiEQDevicePresence</key>
		<data>
		BgABAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,ig-platform-id</key>
		<data>
		AwAeGQ==
		</data>
		<key>AAPL00,PanelCycleDelay</key>
		<data>
		+gAAAA==
		</data>
		<key>AAPL00,PanelPowerDown</key>
		<data>
		EQAAAA==
		</data>
		<key>AAPL00,PanelPowerOff</key>
		<data>
		EQAAAA==
		</data>
		<key>AAPL00,PanelPowerOn</key>
		<data>
		4gAAAA==
		</data>
		<key>AAPL00,PanelPowerUp</key>
		<data>
		SAAAAA==
		</data>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		RwAAAAAAAAAAAAAAAAAAAAAAAwADAB4ZAGwFiwAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQEBAAYQKKACAkAAAAAAAAAA
		AAKgbqUPAApABmMAAAAuAAAAIAAgAAMABgAACkAGUAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		</data>
	</dict>
</dict>
</plist>
