<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>@0,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@0,built-in</key>
		<string></string>
		<key>@0,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@0,connector-type</key>
		<data>
		AgAAAA==
		</data>
		<key>@0,device_type</key>
		<string>display</string>
		<key>@0,name</key>
		<string>NVDA,Display-A</string>
		<key>@0,use-backlight-blanking</key>
		<string></string>
		<key>@1,AAPL,boot-display</key>
		<string></string>
		<key>@1,EDID</key>
		<data>
		AP///////wAEcnStDgdAcAQRAQNoLx54LsWFpFlJmiQSUFS/7wCBgIFAcU+V
		AJUPswCBwIvAITmQMGIaJ0BosDYA2SgRAAAcAAAA/QA4TB5SFQAKICAgICAg
		AAAA/ABBY2VyIEFMMjIxNlcKAAAA/wBMNzQwOTA0NTM3MzAgAEwA////////
		AARydK0OB0BwBBEBA2gvHnguxYWkWUmaJBJQVL/vAIGAgUBxT5UAlQ+zAIHA
		i8AhOZAwYhonQGiwNgDZKBEAABwAAAD9ADhMHlIVAAogICAgICAAAAD8AEFj
		ZXIgQUwyMjE2VwoAAAD/AEw3NDA5MDQ1MzczMCAATA==
		</data>
		<key>@1,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@1,NVMT</key>
		<data>
		DgP/IARydK2QBhoEwAj4BqgHAABBBB0EIwQAABCZtwgAAAEArwAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAAAAAAAAAAAABAAAAAAAA/wAA
		AAC8AkFJCgIAAAACAACQBhoEkAYaBA==
		</data>
		<key>@1,can-hot-plug</key>
		<string></string>
		<key>@1,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@1,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@1,device_type</key>
		<string>display</string>
		<key>@1,display-cfg</key>
		<data>
		AwIIAQ==
		</data>
		<key>@1,fboffset</key>
		<data>
		AAACAA==
		</data>
		<key>@1,name</key>
		<string>NVDA,Display-B</string>
		<key>@2,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@2,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@2,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@2,device_type</key>
		<string>display</string>
		<key>@2,name</key>
		<string>NVDA,Display-C</string>
		<key>@3,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@3,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@3,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@3,device_type</key>
		<string>display</string>
		<key>@3,name</key>
		<string>NVDA,Display-D</string>
		<key>NVCAP</key>
		<data>
		BQEAAAAAAQAGAAAAAAAADwAAAAA=
		</data>
		<key>NVDA,Features</key>
		<data>
		/xb8AA==
		</data>
		<key>NVDA,invalid-config</key>
		<data>
		AAAAAA==
		</data>
		<key>VRAM,memvendorID</key>
		<data>
		BgA=
		</data>
		<key>VRAM,totalMB</key>
		<data>
		AAIAAA==
		</data>
		<key>VRAM,totalsize</key>
		<data>
		AAAAIAAAAAA=
		</data>
		<key>device_type</key>
		<string>NVDA,Parent</string>
		<key>graphic-options</key>
		<data>
		BAAAAA==
		</data>
		<key>model</key>
		<string>NVIDIA GeForce GT 650M</string>
		<key>rom-revision</key>
		<string>3682</string>
		<key>saved-config</key>
		<data>
		DwhMBPwAAAAgABAGnKMAAwJ/oAWEA0AGMABQAJ4DAwAJAA0AqyI0IQAAAAAB
		AAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAKAFhAOgBYQDAAAAAgAAYQByBK10
		AAMC/5AGGgTACGgAGAFBBAMACQAEACE5AAAAAAAAAAAAAAAAAAAABAAAQQkK
		AgAAAAIAAAAAAgCQBhoEkAYaBAAAABoeAAIAAAAAAAAPAIAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAAA
		AAAAAAAAAAAAAAADAAAAAAAADwCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAA
		</data>
		<key>subsystem-id</key>
		<data>
		/AAAAA==
		</data>
		<key>vbios-revision</key>
		<data>
		AQQdB4A=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1,0x1)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>ThunderboltDROM</key>
		<data>
		8KDBMRoKAAEAkubwgwFbAAEACgABAQiBgAJAJgAACIKQAUAmAAACwwLEAsUI
		hgAAAAAAAAOHgAOIoAOJwAOKYALLBYxQAAAFjVAAAA4BQXBwbGUsIEluYy4A
		DgJNYWNCb29rIFBybwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>ThunderboltUUID</key>
		<data>
		BOUEanICXlSULNl6m/GrIQ==
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAABQAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAIAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<data>
		XA==
		</data>
		<key>PinConfigurations</key>
		<data>
		UEArAEEBEJBAARCQIDCLABABoJAw4MsAYOBLAA==
		</data>
		<key>layout-id</key>
		<data>
		UwAAAA==
		</data>
		<key>platformFamily</key>
		<data>
		AA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1c,0x2)/Pci(0x0,0x0)</key>
	<dict>
		<key>fwswappedbib</key>
		<data>
		AQAAAA==
		</data>
		<key>fwtune</key>
		<data>
		AAAACOPjBAAAAAgI4+MMQQAAQAggC0C/AABwCBAAAAA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,ig-platform-id</key>
		<data>
		BABmAQ==
		</data>
		<key>graphic-options</key>
		<data>
		BAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		VQAAAAAAAAAAAAAAAAAAAAEAAgAEAGYBAAAAAADIAMgAAAAAAF4BEAccAgAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAA=
		</data>
	</dict>
</dict>
</plist>
