<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BootCampProcessorPstates</key>
	<data>
	DgA=
	</data>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	bA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	/Q==
	</data>
	<key>backlight-level</key>
	<data>
	cuY=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	jYKsBQIAAACDFIhj37NMLg==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	jYKsBQAAgxSIY9+zTC4=
	</data>
	<key>boot-gamma</key>
	<data>
	EAYAAAOuAAAAAAAAMgAAAAAAAAACAICAgICBgYCAAgCAgICAgYGAgAIAgICAgIGBgIA=
	</data>
	<key>display-config</key>
	<data>
	AAAlAXMI//8BAA==
	</data>
	<key>efi-boot-device</key>
	<string>&lt;array&gt;&lt;dict&gt;&lt;key&gt;IOMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;IOProviderClass&lt;/key&gt;&lt;string&gt;IOMedia&lt;/string&gt;&lt;key&gt;IOPropertyMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;UUID&lt;/key&gt;&lt;string&gt;E97DE264-E324-45D4-B3EE-BAD942502A89&lt;/string&gt;&lt;/dict&gt;&lt;/dict&gt;&lt;key&gt;BLLastBSDName&lt;/key&gt;&lt;string&gt;disk0s3&lt;/string&gt;&lt;/dict&gt;&lt;/array&gt;</string>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAcAQEGAAAAAxIKAAAAAAAAAAQBKgADAAAA2P8bDgAAAAAA
	AAQAAAAAAGTifekk49RFs+662UJQKokCAn//BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TGVmdCBUYWJsZSBSQyAtIGlNYWMgKDIp
	</data>
</dict>
</plist>
