<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>EFICapsule_Result</key>
	<data>
	U1RBUg==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Ow==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkU3MTFENUVDLTgy
	NTgtNDAxMC05QzU3LTI3RTVCQTRGOThEMTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMyPC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAALAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAABgC+8NAAAA
	AOzVEedYghBAnFcn5bpPmNECAn//BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjIG1pbmkgLSDCoFN2ZXRsYW5h
	</data>
	<key>prev-lang:kbd</key>
	<data>
	cnU6MA==
	</data>
</dict>
</plist>
