<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<data>
		+g==
		</data>
		<key>MaximumBootBeepVolumeAlt</key>
		<data>
		AA==
		</data>
		<key>PinConfigurations</key>
		<data>
		UJCrAFCQqwAQ4MAAAAAAAA==
		</data>
		<key>layout-id</key>
		<data>
		bAAAAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1c,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>ThunderboltConfig</key>
		<data>
		AAD//zAAAQBdAAIAMQABADIAAQABAAIA
		</data>
		<key>ThunderboltDROM</key>
		<data>
		b1CcMAAVAAEAfotcywFiAAEACwABAQiBgAKAAAAACIKQAYAAAAAIg4AEgAEA
		AAiEkAOAAQAACIUAAAAAAAADhmADh4ADiKADicACygWLUACCBYxQAIQNAUFw
		cGxlIEluYy4ADAJNYWNpbnRvc2gA
		</data>
		<key>ThunderboltUUID</key>
		<data>
		uOvuuFTiQlyVHe+qNUdOcw==
		</data>
		<key>linkDetails</key>
		<data>
		CAAAAAMAAAA=
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAACwAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAQAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,ig-platform-id</key>
		<data>
		DQAmCg==
		</data>
		<key>StartupDisplay</key>
		<data>
		R04CAAAAAACABwAAOAQAACDu2QgAAAAAgAcAADgEAAAYAQAAAAAAAAAAAAAt
		AAAAAAAAAAAAAABYAAAALAAAAAQAAAAFAAAAAAAAAAAAAAAAAAABAAAAAAAA
		AAAWTv//AwAAAAAAAACABwAAOAQAACDu2QgAAAAAgAcAADgEAAAYAQAAAAAA
		AAAAAAAtAAAAAAAAAAAAAABYAAAALAAAAAQAAAAFAAAAAAAAAAAAAAA=
		</data>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		RwAAAAAAAAAAAAAAAAAAAAAAAwANACYKAJkUAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQMDAE4W//8CAmAQAAAAAAAA
		AAAg7tkIgAc4BBgBAAAtAAAAWAAsAAQABQCABzgEAB4AAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		</data>
	</dict>
</dict>
</plist>
