<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BootCampHD</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAEBAQEGAAAAAQEGAAACAQEGAAAAAwUGAAIAf/8EAA==
	</data>
	<key>IDInstallerDataV1</key>
	<data>
	4CNicGxpc3QwMN8QEAECAwQFBgcICQoLDA0ODxAREhISExIUEhUWFxMYGRoSUzEwM1Mz
	MDcABEYyRjXlMFMzMTEACEAEOMAGM1E2AARIHjHOMVMxhjA5QBQ04GUwUTJRMFYxNFk2
	MTdWcGFzc2VkXWVvcyBwcmVmbGlnaHRRN18QJDlDRDc1MkZBLTJERjgtNDExRi05MDI3
	LThFRDRDOTFBMURCRFdjcmFzaGVkVG5vbmVRMQgrLzM3Oz9DR0tNUVVZXWFlaWttdHuJ
	i7K6vwAQAc4BAQDynhsA9uMAAMEGAAAAAAAAAA==
	</data>
	<key>IDInstallerDataV2</key>
	<data>
	4CZicGxpc3QwMKIBHN8QEAIDBAUGBwgJCgsMDQ4PEBESExMTFBMVExYTFxgZGhIbUzEw
	M1MzMDcABEYyRjXlMFMzMTEACEAEOMAGM1E2AARIHjHOMVMxhjA5QBQ04A4wUTFRMFYx
	NFk2MTdfEBJFT1NFcnJvckRvbWFpbiAALOAmXWVvcyBwcmVmbGlnaHRfECRGM0RGNUMx
	Ny1DQjBDLTQ4N0ItOTJERi1DMzkzM0ZDMTQ1NDNXEFHgAjhiV2NyYXNoZWRUbm9uZVIx
	ODjO+VYd5h4THyAhFPPqE1EyVnBhc3NlZDh59ECeUeokOUNENzUyRkEtAHDgTTgtNDEx
	Ri05MDI3LThFRDRDOTFBMURCRAAIAAsALgAyADYAOgA+AEIARgBKAE4AUABUAFgAXABg
	AGQAaABsAG4AcAB3AIwAmgDBAMkA0QDWANkA/AD+AQUBEwEVABABzgIBAPKeIgD24wAB
	PAYAAAAAAAAA
	</data>
	<key>InstallWindowsUEFI</key>
	<data>
	MQ==
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SmcFlasherResult</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAA==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Nw==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	3g==
	</data>
	<key>ThorUpdateResult</key>
	<data>
	AAAAAAAAAAA=
	</data>
	<key>backlight-level</key>
	<data>
	jAA=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	lYKsBQAAAAAAAHhPQ3qMgA==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	lYKsBQAAAAB4T0N6jIA=
	</data>
	<key>csr-active-config</key>
	<data>
	dwAAAA==
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjFBRDBBQ0NBLUZG
	REUtNEE2QS05NjM5LTJFNkZBRjk3ODZDNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcVGhvclV0aWwuZWZpPC9zdHJpbmc+PC9kaWN0Pjwv
	YXJyYXk+AA==
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAJTj4wqbIMAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAAMqs0Bre/2pKljkub6+XhsQCAgQEYABcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABU
	AGgAbwByAFUAdABpAGwALgBlAGYAaQAAAH//BAA=
	</data>
	<key>efi-apple-payload1</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjFBRDBBQ0NBLUZG
	REUtNEE2QS05NjM5LTJFNkZBRjk3ODZDNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLUE1QzY3Rjc2RUQ4MzEwOEMtQjBfMy45NC4w
	LUMwXzE5LjYtUjEuYmluPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload1-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAJTj4wqbIMAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAAMqs0Bre/2pKljkub6+XhsQCAgQEogBcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABN
	AGEAYwAtAEEANQBDADYANwBGADcANgBFAEQAOAAzADEAMAA4AEMALQBCADAAXwAzAC4A
	OQA0AC4AMAAtAEMAMABfADEAOQAuADYALQBSADEALgBiAGkAbgAAAH//BAA=
	</data>
	<key>efi-apple-payload2</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjFBRDBBQ0NBLUZG
	REUtNEE2QS05NjM5LTJFNkZBRjk3ODZDNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLUE1QzY3Rjc2RUQ4MzEwOEMtQjBfMy45NC4w
	LUMwXzE5LjYtUjAuYmluPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload2-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAJTj4wqbIMAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAAMqs0Bre/2pKljkub6+XhsQCAgQEogBcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABN
	AGEAYwAtAEEANQBDADYANwBGADcANgBFAEQAOAAzADEAMAA4AEMALQBCADAAXwAzAC4A
	OQA0AC4AMAAtAEMAMABfADEAOQAuADYALQBSADAALgBiAGkAbgAAAH//BAA=
	</data>
	<key>efi-apple-payload3</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjExODIxNDczLUFD
	QzAtNEVBRC1BQzYyLTZEMjlERTY1ODMzNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcZmxhc2hlcl91cGRhdGUuc21jPC9zdHJpbmc+PC9k
	aWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload3-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAJTj4wqbIMAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAAHMUghHArK1OrGJtKd5lgzQCAgQEbABcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABm
	AGwAYQBzAGgAZQByAF8AdQBwAGQAYQB0AGUALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-payload4</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjExODIxNDczLUFD
	QzAtNEVBRC1BQzYyLTZEMjlERTY1ODMzNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLUE1QzY3Rjc2RUQ4MzEwOEMuZXBtPC9zdHJp
	bmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload4-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAJTj4wqbIMAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAAHMUghHArK1OrGJtKd5lgzQCAgQEeABcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABN
	AGEAYwAtAEEANQBDADYANwBGADcANgBFAEQAOAAzADEAMAA4AEMALgBlAHAAbQAAAH//
	BAA=
	</data>
	<key>efi-apple-payload5</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjExODIxNDczLUFD
	QzAtNEVBRC1BQzYyLTZEMjlERTY1ODMzNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcVGhvclV0aWwuZWZpPC9zdHJpbmc+PC9kaWN0Pjwv
	YXJyYXk+AA==
	</data>
	<key>efi-apple-payload5-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAJTj4wqbIMAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAAHMUghHArK1OrGJtKd5lgzQCAgQEYABcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABU
	AGgAbwByAFUAdABpAGwALgBlAGYAaQAAAH//BAA=
	</data>
	<key>efi-apple-payload6</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjExODIxNDczLUFD
	QzAtNEVBRC1BQzYyLTZEMjlERTY1ODMzNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLUE1QzY3Rjc2RUQ4MzEwOEMtQjBfMy44OC4w
	LUMwXzE1LjEyLVIwLmJpbjwvc3RyaW5nPjwvZGljdD48L2FycmF5PgA=
	</data>
	<key>efi-apple-payload6-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAJTj4wqbIMAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAAHMUghHArK1OrGJtKd5lgzQCAgQEpABcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABN
	AGEAYwAtAEEANQBDADYANwBGADcANgBFAEQAOAAzADEAMAA4AEMALQBCADAAXwAzAC4A
	OAA4AC4AMAAtAEMAMABfADEANQAuADEAMgAtAFIAMAAuAGIAaQBuAAAAf/8EAA==
	</data>
	<key>efi-apple-payload7</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjExODIxNDczLUFD
	QzAtNEVBRC1BQzYyLTZEMjlERTY1ODMzNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLUE1QzY3Rjc2RUQ4MzEwOEMtQjBfMy44OC4w
	LUMwXzE1LjEyLVIxLmJpbjwvc3RyaW5nPjwvZGljdD48L2FycmF5PgA=
	</data>
	<key>efi-apple-payload7-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAJTj4wqbIMAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAAHMUghHArK1OrGJtKd5lgzQCAgQEpABcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABN
	AGEAYwAtAEEANQBDADYANwBGADcANgBFAEQAOAAzADEAMAA4AEMALQBCADAAXwAzAC4A
	OAA4AC4AMAAtAEMAMABfADEANQAuADEAMgAtAFIAMQAuAGIAaQBuAAAAf/8EAA==
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjFBRDBBQ0NBLUZG
	REUtNEE2QS05NjM5LTJFNkZBRjk3ODZDNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxNQlAxMzNfMDIyNl9CMjNfTE9DS0VELmZkPC9zdHJpbmc+PC9kaWN0Pjwv
	YXJyYXk+AA==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjFBRDBBQ0NBLUZG
	REUtNEE2QS05NjM5LTJFNkZBRjk3ODZDNDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAJTj4wqbIMAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAAMqs0Bre/2pKljkub6+XhsQCAn//BAA=
	</data>
	<key>eos-restore-failure-uuids</key>
	<data>
	NTk2MTM3NEQtQUZFNi00RkQ2LUEyMTEtQjc1N0QyMThBRTU3LEYzREY1QzE3LUNCMEMt
	NDg3Qi05MkRGLUMzOTMzRkMxNDU0Mw==
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjQm9vayBQcm/CoOKAlCBTYW0=
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDdAQIDBAUGBwgJCgsMDQ4PFhcOGA4ZGhscHR9fEA91bnJlZ2lzdGVyU3Rh
	dGVYdXNlckluZm9ZYXV0aFRva2VuXxARb3NVc2VyRGlzYXBwZWFyZWReZGlzYWJsZUNv
	bnRleHRWdXNlcmlkXWVuYWJsZUNvbnRleHRYdXNlcm5hbWVYcGVyc29uSURXYWRkVGlt
	ZVRndWlkXxASZW5hYmxlZERhdGFjbGFzc2VzXxATZGF0YWNsYXNzUHJvcGVydGllcxAA
	0xAREhMUFV8QFUluVXNlT3duZXJEaXNwbGF5TmFtZV8QE0luVXNlT3duZXJGaXJzdE5h
	bWVfEBJJblVzZU93bmVyTGFzdE5hbWVcU2FtIFNsZXNhcmV2U1NhbVhTbGVzYXJldl8Q
	KEFRQUFBQUJaSnFGNUk3R3JzQWh2RldCMS1zNGJOODBMMFROaGdZUX4JEQH1XxAWc20u
	c2xlc2FyZXZAaWNsb3VkLmNvbVsxMDIzNTg1OTA2NCNB1kmofYfZNF8QJDg0MUYwMjJD
	LTk0MzctNDBDOS05NkRBLTkwMkVCMzk0Q0RENqEeXxAhY29tLmFwcGxlLkRhdGFjbGFz
	cy5EZXZpY2VMb2NhdG9y0R4g1CEiIyQlJicoVmFwc0Vudlhob3N0bmFtZV1hdXRoTWVj
	aGFuaXNtVnNjaGVtZVpQcm9kdWN0aW9uXxATcDQ1LWZtaXAuaWNsb3VkLmNvbVV0b2tl
	blVodHRwcwAIACMANQA+AEgAXABrAHIAgACJAJIAmgCfALQAygDMANMA6wEBARYBIwEn
	ATABWwFcAV8BeAGEAY0BtAG2AdoB3QHmAe0B9gIEAgsCFgIsAjIAAAAAAAACAQAAAAAA
	AAApAAAAAAAAAAAAAAAAAAACOA==
	</data>
	<key>gpu-policy</key>
	<data>
	AQ==
	</data>
	<key>multiupdater-0</key>
	<data>
	VABoAG8AcgBVAHQAaQBsAC4AZQBmAGkAAAAtAGcAIAAtAG8AIAAtAHMAcgAgADEAIAAw
	ACAALQBmAHMAIABlAGYAaQAtAGEAcABwAGwAZQAtAHAAYQB5AGwAbwBhAGQAMQAtAGQA
	YQB0AGEAIAAtAGcAIAAtAG8AIAAtAHMAcgAgADAAIAAwACAALQBmAHMAIABlAGYAaQAt
	AGEAcABwAGwAZQAtAHAAYQB5AGwAbwBhAGQAMgAtAGQAYQB0AGEAIAAtAG4AbwByAGUA
	cwBlAHQAIAAAAAAAAAAAAAAA
	</data>
	<key>multiupdater-1</key>
	<data>
	VABoAG8AcgBVAHQAaQBsAC4AZQBmAGkAAAAtAGcAIAAtAG8AIAAtAHMAcgAgADAAIAAw
	ACAALQBmAHMAIABlAGYAaQAtAGEAcABwAGwAZQAtAHAAYQB5AGwAbwBhAGQANgAtAGQA
	YQB0AGEAIAAtAGcAIAAtAG8AIAAtAHMAcgAgADEAIAAwACAALQBmAHMAIABlAGYAaQAt
	AGEAcABwAGwAZQAtAHAAYQB5AGwAbwBhAGQANwAtAGQAYQB0AGEAIAAtAG4AbwByAGUA
	cwBlAHQAIAAAAAAAAAAAAAAA
	</data>
	<key>prev-lang:kbd</key>
	<data>
	cnU6MA==
	</data>
</dict>
</plist>
