<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFICapsule_Result</key>
	<data>
	U1RBUg==
	</data>
	<key>SmcFlasherResult</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAA==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	ug==
	</data>
	<key>backlight-level</key>
	<data>
	cgI=
	</data>
	<key>boot-gamma</key>
	<data>
	EAYAAKOcAAAAAAAAbgAAAAAAAAAHAAQE2wULC7IOHh6VJDY2bT5XV09gd3cJgKGhh6gH
	AAQE2wULC7IOHh6VJDY2bT5XV09gd3cJgKGhh6gHAAQE2wULC7IOHh6VJDY2bT5XV09g
	d3cJgKGhh6hyBAAAhq0AABtlEIC2AAAAAAAAAA0AAQHjBAICBQgEBCkNBwehEw4ONCAY
	GFQvIyP4PTAwp009PSdcTk7XbXJyC5CampCyycn71w0AAQHjBAICBQgEBCkNBwehEw4O
	NCAYGFQvIyP4PTAwp009PSdcTk7XbXJyC5CampCyycn71w0AAQHjBAICBQgEBCkNBweh
	Ew4ONCAYGFQvIyP4PTAwp009PSdcTk7XbXJyC5CampCyycn71w==
	</data>
	<key>boot-image</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQEGAAyADYAYgAzAGMAOQAwADAAMAAA
	AH//BAA=
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjAwMDAzNTk4LTYy
	QTktMDAwMC0zQjU2LTAwMDA2QTRGMDAwMDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVwyMDExTUJQMTUuc21jPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgABAAAAKAAAAAAAAAAAQAYAAAAA
	AJg1AACpYgAAO1YAAGpPAAACAgQESABcAEUARgBJAFwAQQBQAFAATABFAFwARgBJAFIA
	TQBXAEEAUgBFAFwAMgAwADEAMQBNAEIAUAAxADUALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjAwMDAzNTk4LTYy
	QTktMDAwMC0zQjU2LTAwMDA2QTRGMDAwMDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxNQlA4MV8wMDQ3XzI3Ql9MT0NLRUQuc2NhcDwvc3RyaW5nPjwvZGljdD48
	L2FycmF5PgA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjQm9vayBQcm8gLSDQodC10YDQs9C10Lk=
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDXAQIDBAUGBwgJChUWFxhWdXNlcmlkWWF1dGhUb2tlbl8QE2RhdGFjbGFz
	c1Byb3BlcnRpZXNYcGVyc29uSURYdXNlcm5hbWVfEBJlbmFibGVkRGF0YWNsYXNzZXNY
	dXNlckluZm8RAfVfEChBUUFBQUFCUUZZV2J5OG1RTVdQb2VMWHlsTHB5bzh1ZkUtVV9r
	OUF+0QsMXxAhY29tLmFwcGxlLkRhdGFjbGFzcy5EZXZpY2VMb2NhdG9y1A0ODxAREhMU
	VmFwc0Vudlhob3N0bmFtZV1hdXRoTWVjaGFuaXNtVnNjaGVtZVpQcm9kdWN0aW9uXxAT
	cDA5LWZtaXAuaWNsb3VkLmNvbVV0b2tlblVodHRwc1oxOTIxNzk4NDM5XxAVc2Vya3Vy
	bmlrb3ZAZ21haWwuY29toQvRGRpfEBVJblVzZU93bmVyRGlzcGxheU5hbWVvEA8EIQQ1
	BEAEMwQ1BDkAIAQaBEMEQAQ9BDgEOgQ+BDIACAAXAB4AKAA+AEcAUABlAG4AcQCcAJ8A
	wwDMANMA3ADqAPEA/AESARgBHgEpAUEBQwFGAV4AAAAAAAACAQAAAAAAAAAbAAAAAAAA
	AAAAAAAAAAABfw==
	</data>
	<key>gpu-policy</key>
	<data>
	AQ==
	</data>
</dict>
</plist>
