<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BootCampHD</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAH//BAA=
	</data>
	<key>SmcFlasherResult</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAA==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	1w==
	</data>
	<key>backlight-level</key>
	<data>
	3AE=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	H4KsBSg3NyQaYQ==
	</data>
	<key>boot-gamma</key>
	<data>
	EAYAAPKcAAAAAAAAbgAAAAAAAAAHAAQE2wULC7IOHh6VJDY2bT5XV09gd3cJgKGhh6gH
	AAQE2wULC7IOHh6VJDY2bT5XV09gd3cJgKGhh6gHAAQE2wULC7IOHh6VJDY2bT5XV09g
	d3cJgKGhh6g=
	</data>
	<key>boot-image</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQEGgAxADMAMgAxAGMAMQA2ADAAMAAw
	AAAAf/8EAA==
	</data>
	<key>boot-perf-record-data-size</key>
	<data>
	AAABAA==
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjQ0MjMwMjlELTJF
	MzctNDdENS1CNkQxLUFEMkExMjBBNzVEQzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVwyMDExTUJBMTEuc21jPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgABAAAAKAAAAAAAAAAAQAYAAAAA
	AJ0CI0Q3LtVHttGtKhIKddwCAgQESABcAEUARgBJAFwAQQBQAFAATABFAFwARgBJAFIA
	TQBXAEEAUgBFAFwAMgAwADEAMQBNAEIAQQAxADEALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjAwMDA3M0UxLTM1
	OUQtMDAwMC1FRTczLTAwMDBBMjcyMDAwMDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxNQkE0MV8wMDc3X0IwRl9MT0NLRUQuc2NhcDwvc3RyaW5nPjwvZGljdD48
	L2FycmF5PgA=
	</data>
	<key>efi-boot-device</key>
	<string>&lt;array&gt;&lt;dict&gt;&lt;key&gt;IOMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;IOProviderClass&lt;/key&gt;&lt;string&gt;IOMedia&lt;/string&gt;&lt;key&gt;IOPropertyMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;UUID&lt;/key&gt;&lt;string&gt;64DF8675-716F-47A4-AEE5-3503B9389D32&lt;/string&gt;&lt;/dict&gt;&lt;/dict&gt;&lt;key&gt;BLLastBSDName&lt;/key&gt;&lt;string&gt;disk0s2&lt;/string&gt;&lt;/dict&gt;&lt;/array&gt;</string>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAACQYAYOAAAA
	AHWG32RvcaRHruU1A7k4nTICAn//BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjQm9vayBBaXI=
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDXAQIDBAUGBwgJFBUWFxhWdXNlcmlkXxATZGF0YWNsYXNzUHJvcGVydGll
	c1lhdXRoVG9rZW5YcGVyc29uSURYdXNlcm5hbWVfEBJlbmFibGVkRGF0YWNsYXNzZXNY
	dXNlckluZm8RAfXRCgtfECFjb20uYXBwbGUuRGF0YWNsYXNzLkRldmljZUxvY2F0b3LU
	DA0ODxAREhNWYXBzRW52WGhvc3RuYW1lXWF1dGhNZWNoYW5pc21Wc2NoZW1lWlByb2R1
	Y3Rpb25fEBNwMDEtZm1pcC5pY2xvdWQuY29tVXRva2VuVWh0dHBzXxAoQVFBQUFBQlBf
	MlZtZG1RQVdGa2dSS2MwTmx2WjlqOUUwaG5xQmFvflk0MzI1NTg3OTNeaUNvb3BweUBN
	ZS5jb22hCtEZGl8QFUluVXNlT3duZXJEaXNwbGF5TmFtZW8QEQQUBDwEOARCBEAEOAQ5
	ACAEGwQ1BD0EQgQ+BEcEOgQ4BD0ACAAXAB4ANAA+AEcAUABlAG4AcQB0AJgAoQCoALEA
	vwDGANEA5wDtAPMBHgEoATcBOQE8AVQAAAAAAAACAQAAAAAAAAAbAAAAAAAAAAAAAAAA
	AAABeQ==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	cnU6MA==
	</data>
</dict>
</plist>
