<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Copyright</key>
	<string>SMBios by 7ender @ InMac.org	Created with Champlist.app</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>MP41.88Z.0081.B07.0910130729</string>
	<key>SMboardproduct</key>
	<string>Mac-F221BEC8</string>
	<key>SMfamily</key>
	<string>MacPro</string>
	<key>SMproductname</key>
	<string>MacPro4,1</string>
	<key>SMserial</key>
	<string>C0926ZFC8XG</string>
</dict>
</plist>
