<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BridgeOSVersion</key>
	<data>
	MTUuMTYuMjA2NC4wLjAsMAA=
	</data>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>backlight-level</key>
	<data>
	//8=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	ewCsBQAAAAAAAIyFkJRTKw==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	ewCsBQAAAACMhZCUUys=
	</data>
	<key>display-config</key>
	<data>
	AAAlAXMI//8BAA==
	</data>
	<key>enable-remap-mode</key>
	<data>
	dHJ1ZQ==
	</data>
	<key>fmm-computer-name</key>
	<data>
	aU1hYyBQcm8gLSBDMDJWVjVSRkhYODcgLSBhcnMxODAuMjE=
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDcAQIDBAUGBwgJCgsMDQ4QDRENEhMUFRYdXxAPdW5yZWdpc3RlclN0YXRl
	XxASZW5hYmxlZERhdGFjbGFzc2VzWWF1dGhUb2tlbl5kaXNhYmxlQ29udGV4dFZ1c2Vy
	aWRdZW5hYmxlQ29udGV4dFh1c2VybmFtZVhwZXJzb25JRFdhZGRUaW1lVGd1aWRYdXNl
	ckluZm9fEBNkYXRhY2xhc3NQcm9wZXJ0aWVzEAChD18QIWNvbS5hcHBsZS5EYXRhY2xh
	c3MuRGV2aWNlTG9jYXRvcl8QKEFRQUFBQUJhUkQtMnpYa0lXY2VhVlA5LXVIQmNyYjhs
	UFFNTmdDa34RAfZfEBFhcnMxODAuMjFAbWFjLmNvbVkxNjczMzY3MzYjQdaRD+8X9F5f
	ECQ2RERCOUJDNi04RTUyLTREMTItODNGRC0xQTY2OEZFRTIwOUHTFxgZGhscXxAVSW5V
	c2VPd25lckRpc3BsYXlOYW1lXxATSW5Vc2VPd25lckZpcnN0TmFtZV8QEkluVXNlT3du
	ZXJMYXN0TmFtZV5Kb2huIEFwcGxlc2VlZFRKb2huWUFwcGxlc2VlZNEPHtQfICEiIyQl
	JlZhcHNFbnZYaG9zdG5hbWVdYXV0aE1lY2hhbmlzbVZzY2hlbWVaUHJvZHVjdGlvbl8Q
	E3AzOS1mbWlwLmljbG91ZC5jb21VdG9rZW5VaHR0cHMACAAhADMASABSAGEAaAB2AH8A
	iACQAJUAngC0ALYAuADcAQcBCgEeASgBMQFYAV8BdwGNAaIBsQG2AcABwwHMAdMB3AHq
	AfEB/AISAhgAAAAAAAACAQAAAAAAAAAnAAAAAAAAAAAAAAAAAAACHg==
	</data>
	<key>usb-cr-rec</key>
	<data>
	AQAAAA==
	</data>
</dict>
</plist>
