<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1,0x1)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>TBTFlags</key>
		<data>
		AwAAAA==
		</data>
		<key>ThunderboltConfig</key>
		<data>
		AAIBAAIABQMBAAQABQMCAAMABQMBAAEAAwMCAAIAAQA=
		</data>
		<key>ThunderboltDROM</key>
		<data>
		XwBF8qz3TQEAJvLsQwFYAAEADQABAAiBgAKAAAAACIKQAYAAAAAIg4AEgAEA
		AAiEkAOAAQAABYUJAQAFhgkBAAKHA4ggA4mAAsoCyw0BQXBwbGUgSW5jLgAM
		Ak1hY2ludG9zaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>ThunderboltUUID</key>
		<data>
		vnBhtpF7dFiFGVETNzzKBA==
		</data>
		<key>linkDetails</key>
		<data>
		CAAAAAMAAAA=
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAACwAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAQAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>TBTFlags</key>
		<data>
		AwAAAA==
		</data>
		<key>ThunderboltConfig</key>
		<data>
		AQIBAAIABQMBAAQABQMCAAMABQMBAAAAAwMCAAQAAwA=
		</data>
		<key>ThunderboltDROM</key>
		<data>
		TAFF8qz3TQEArBA+VQFYAAEADQABAAiBgQKBAAAACIKRAYEAAAAIg4EEgQEA
		AAiEkQOBAQAABYUJAQAFhgkBAAKHA4ggA4mAAsoCyw0BQXBwbGUgSW5jLgAM
		Ak1hY2ludG9zaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>ThunderboltUUID</key>
		<data>
		iihZHCRlGFOplfSjNWYvfA==
		</data>
		<key>linkDetails</key>
		<data>
		CAAAAAMAAAA=
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAACwAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAQAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,GfxYTile</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,ig-platform-id</key>
		<data>
		BwCbPg==
		</data>
		<key>GraphicsDisplaySetup</key>
		<data>
		AAABAAAAAAAEAAAAGBUAAAEAAAAAAAEAAAADAAAA0L/IHwAAAAAADwAAcAgA
		AKAAAAAAAAAAAAAAAD4AAAAAAAAAAAAAADAAAAAgAAAAATYAAAAFAAAAAAAB
		AAEAAAAAAAIAAAAEAAAAAAAAAQEAAAAAAAAAAQAADwAAcAgAAAA8AAABAAAA
		AAAAAAA=
		</data>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		RwAAAAAAAAAAAAAAAAAAAAAAAwAHAJs+AM5WAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQICAB5tCVsCA0AAAAAAAAAA
		AALQv8gfAA9wCKAAAAA+AAAAMAAgADYABQAAD3AIeAABAAEAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAA
		</data>
	</dict>
</dict>
</plist>
