<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SmcFlasherResult</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAA==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	UQ==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	7w==
	</data>
	<key>backlight-level</key>
	<data>
	fps=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	lIKsBQIAAABQFCjwdhBrlw==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	lIKsBQAAUBQo8HYQa5c=
	</data>
	<key>display-config</key>
	<data>
	AAAlAXMI//8BAA==
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjNGN0QxMzI5LTk4
	RTItNDBEQy04RjMyLURBREYwRjBDQURCODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMXMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xTTUNcTWFjLURCMTVCRDU1Njg0M0M4MjAuc21jPC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAXcxsQAJMDAAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAACkTfT/imNxAjzLa3w8MrbgCAgQEZgBcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwAUwBNAEMAXABNAGEAYwAtAEQAQgAxADUAQgBE
	ADUANQA2ADgANAAzAEMAOAAyADAALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-payload1</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjNGN0QxMzI5LTk4
	RTItNDBEQy04RjMyLURBREYwRjBDQURCODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMXMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xTTUNcZmxhc2hlcl9iYXNlLnNtYzwvc3RyaW5nPjwvZGljdD48L2FycmF5
	PgA=
	</data>
	<key>efi-apple-payload1-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAXcxsQAJMDAAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAACkTfT/imNxAjzLa3w8MrbgCAgQEVgBcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwAUwBNAEMAXABmAGwAYQBzAGgAZQByAF8AYgBh
	AHMAZQAuAHMAbQBjAAAAf/8EAA==
	</data>
	<key>efi-apple-payload2</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjNGN0QxMzI5LTk4
	RTItNDBEQy04RjMyLURBREYwRjBDQURCODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMXMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xTTUNcZmxhc2hlcl91cGRhdGUuc21jPC9zdHJpbmc+PC9kaWN0PjwvYXJy
	YXk+AA==
	</data>
	<key>efi-apple-payload2-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAXcxsQAJMDAAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAACkTfT/imNxAjzLa3w8MrbgCAgQEWgBcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwAUwBNAEMAXABmAGwAYQBzAGgAZQByAF8AdQBw
	AGQAYQB0AGUALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-payload3</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjNGN0QxMzI5LTk4
	RTItNDBEQy04RjMyLURBREYwRjBDQURCODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMXMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xTTUNcTWFjLURCMTVCRDU1Njg0M0M4MjAuZXBtPC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload3-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAXcxsQAJMDAAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAACkTfT/imNxAjzLa3w8MrbgCAgQEZgBcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwAUwBNAEMAXABNAGEAYwAtAEQAQgAxADUAQgBE
	ADUANQA2ADgANAAzAEMAOAAyADAALgBlAHAAbQAAAH//BAA=
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjNGN0QxMzI5LTk4
	RTItNDBEQy04RjMyLURBREYwRjBDQURCODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxJTTE3MV8wMTA1X0IwNV9MT0NLRUQuZmQ8L3N0cmluZz48L2RpY3Q+PC9h
	cnJheT4A
	</data>
	<key>efi-boot-device</key>
	<string>&lt;array&gt;&lt;dict&gt;&lt;key&gt;IOMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;IOProviderClass&lt;/key&gt;&lt;string&gt;IOMedia&lt;/string&gt;&lt;key&gt;IOPropertyMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;UUID&lt;/key&gt;&lt;string&gt;CE9DF440-675C-4914-BD8B-7CB83678C5CB&lt;/string&gt;&lt;/dict&gt;&lt;/dict&gt;&lt;key&gt;BLLastBSDName&lt;/key&gt;&lt;string&gt;disk1s3&lt;/string&gt;&lt;/dict&gt;&lt;/array&gt;</string>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAXcxsQAJMDAAQBKgADAAAAm+pY
	AAAAAAAAgAAAAAAAAED0nc5cZxRJvYt8uDZ4xcsCAn//BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	UmlnaHQgV2FsbCAyIEIgLSBpTWFj
	</data>
</dict>
</plist>
