<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BootCampHD</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAH//BAA=
	</data>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>SystemAudioVolume</key>
	<data>
	gA==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+TWVtb3J5VHlwZTwva2V5PjxpbnRlZ2VyIHNpemU9IjMy
	Ij4weGI8L2ludGVnZXI+PGtleT5TdGFydGluZ0FkZHJlc3M8L2tleT48aW50ZWdlciBz
	aXplPSI2NCI+MHhmZmMyMTAwMDwvaW50ZWdlcj48a2V5PklPRUZJRGV2aWNlUGF0aFR5
	cGU8L2tleT48c3RyaW5nPkhhcmR3YXJlTWVtb3J5TWFwcGVkPC9zdHJpbmc+PGtleT5F
	bmRpbmdBZGRyZXNzPC9rZXk+PGludGVnZXIgc2l6ZT0iNjQiPjB4ZmZlYjFmZmY8L2lu
	dGVnZXI+PC9kaWN0PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5Pjxz
	dHJpbmc+TWVkaWFGaXJtd2FyZVZvbHVtZUZpbGVQYXRoPC9zdHJpbmc+PGtleT5HdWlk
	PC9rZXk+PHN0cmluZz4yQjA1ODVFQi1EOEI4LTQ5QTktOEI4Qy1FMjFCMDFBRUYyQjc8
	L3N0cmluZz48L2RpY3Q+PGRpY3Q+PGtleT5JT0VGSUJvb3RPcHRpb248L2tleT48c3Ry
	aW5nPkNEPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AQMYAAsAAAAAEML/AAAAAP8f6/8AAAAABAYUAOuFBSu42KlJi4ziGwGu8rd//wQA
	</data>
	<key>prev-lang:kbd</key>
	<data>
	cnU6MA==
	</data>
</dict>
</plist>
