<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BootCampProcessorPstates</key>
	<data>
	DAA=
	</data>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	XQ==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	7w==
	</data>
	<key>backlight-level</key>
	<data>
	ttc=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	lIKsBQAAAABgFCjwdgPVvw==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	lIKsBQAAYBQo8HYD1b8=
	</data>
	<key>display-config</key>
	<data>
	AAAlAXMI//8BAA==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjMzODk2QzQ2LUQ3
	MTItNDBDOS05NTQ5LTQ2MkFBODlDMUFFMDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHM0PC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgADAAAAaA5ddAAAAAAgXxMAAAAA
	AEZsiTMS18lAlUlGKqicGuACAn//BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	aU1hY8Kg4oCUIGlNYWM=
	</data>
</dict>
</plist>
