<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>@0,AAPL,boot-display</key>
		<string></string>
		<key>@0,EDID</key>
		<data>
		AP///////wAGEA6gAAAAABAVAQSlIRV4Am+xp1VMniUMUFQAAAABAQEBAQEB
		AQEBAQEBAQEB74NAoLAINHAwIDYAS88QAAAaAAAA/ABDb2xvciBMQ0QKICAg
		AAAAEAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAOgAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAExTTjE1NFlMMDEwMDEKIABETE0y
		Mjk2MDBFWUY0OUhBOAogICAgIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>@0,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@0,NVMT</key>
		<data>
		DgN/IAAAAABACwgH4AtwC5ALAAA8BwsHEQcAAPCnIRQAAAABrwAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAAAAAAAAAAAABAAAAAAAA/wAA
		AAC8AgFaCgQAAAACAABACwgHQAsIBw==
		</data>
		<key>@0,built-in</key>
		<string></string>
		<key>@0,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@0,connector-type</key>
		<data>
		AgQAAA==
		</data>
		<key>@0,device_type</key>
		<string>display</string>
		<key>@0,display-cfg</key>
		<data>
		AwQIAA==
		</data>
		<key>@0,fboffset</key>
		<data>
		AAACAA==
		</data>
		<key>@0,name</key>
		<string>NVDA,Display-A</string>
		<key>@0,pwm-info</key>
		<data>
		AhgAZFYnBQAAAAAAAAAAAAAEAAABAAAA
		</data>
		<key>@0,use-backlight-blanking</key>
		<string></string>
		<key>@1,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@1,can-hot-plug</key>
		<string></string>
		<key>@1,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@1,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@1,device_type</key>
		<string>display</string>
		<key>@1,name</key>
		<string>NVDA,Display-B</string>
		<key>@2,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@2,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@2,connector-type</key>
		<data>
		AAQAAA==
		</data>
		<key>@2,device_type</key>
		<string>display</string>
		<key>@2,name</key>
		<string>NVDA,Display-C</string>
		<key>@3,NVDA,UnderscanMin</key>
		<data>
		UgAAAA==
		</data>
		<key>@3,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@3,connector-type</key>
		<data>
		AAgAAA==
		</data>
		<key>@3,device_type</key>
		<string>display</string>
		<key>@3,name</key>
		<string>NVDA,Display-D</string>
		<key>NVCAP</key>
		<data>
		BQEAAAAAAQAGAAAAAAAADwAAAAA=
		</data>
		<key>NVDA,Features</key>
		<data>
		/xbyAA==
		</data>
		<key>NVDA,invalid-config</key>
		<data>
		AAAAAA==
		</data>
		<key>VRAM,memvendorID</key>
		<data>
		BgA=
		</data>
		<key>VRAM,totalMB</key>
		<data>
		AAQAAA==
		</data>
		<key>VRAM,totalsize</key>
		<data>
		AAAAQAAAAAA=
		</data>
		<key>boot-gamma-restored</key>
		<data>
		AAAAAAAAAAA=
		</data>
		<key>device_type</key>
		<string>NVDA,Parent</string>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>model</key>
		<string>NVIDIA GeForce GT 650M</string>
		<key>rom-revision</key>
		<string>3688</string>
		<key>saved-config</key>
		<data>
		DwhMBPIAAABgABAGoA4AAwJ/QAsIB+ALMABQADwHAwAJAAgA74MAAAAAAAAB
		AAAAAAAAAAAEAAABCgoEAAAAAgAAAAAAAEALCAdACwgHAAAAQD4AAQAAAAAA
		AA8AgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAIAAAAAAAAPAIAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAA
		AAAAAAAAAAAAAAADAAAAAAAADwCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAAAAAAAAAAAAAAAA
		</data>
		<key>subsystem-id</key>
		<data>
		8gAAAA==
		</data>
		<key>vbios-revision</key>
		<data>
		AQQmB4A=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1,0x1)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>ThunderboltDROM</key>
		<data>
		2UDR2BQNAAEAES5TWQFjAAEACgABAQiBgAKAAAAACIKQAYAAAAAIg4AEgAEA
		AAiEkAOAAQAACIUAAAAAAAADhmADh4ADiKADicACygWLUACCBYxQAIQOAUFw
		cGxlLCBJbmMuAAwCTWFjaW50b3NoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>ThunderboltUUID</key>
		<data>
		GLn4g2QCklqoEFSL0y6/tw==
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAACwAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAQAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<string>W</string>
		<key>PinConfigurations</key>
		<data>
		IEArABIBEJAQARCQAAGmkDDgSwA=
		</data>
		<key>layout-id</key>
		<data>
		KAAAAA==
		</data>
		<key>multiEQDevicePresence</key>
		<data>
		AAABAA==
		</data>
		<key>platformFamily</key>
		<data>
		AA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,ig-platform-id</key>
		<data>
		AgBmAQ==
		</data>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		VQAAAAAAAAAAAAAAAAAAAAEAAgACAGYBAAAAAgDSAPoAQAAAACYCEAccAgAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEDAwEA
		BhAOoAICYAAAAAAAAAAEAvCnIRRACwgHoAAAADQAAAAwACAAAwAGAEALCAcA
		LgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAA=
		</data>
	</dict>
</dict>
</plist>
