<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundClear</key>
	<data>
	AAAAAA==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	EA==
	</data>
	<key>boot-args</key>
	<string>-v -f</string>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjA2NTRFRkQ5LTA2
	OTAtNEQ1MS1BM0E3LTgxRjgyN0JGMTk5Njwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBCAoAAAAAAQEGAAIfAxIKAAEAAAAAAAQBKgACAAAAKEAGAAAAAACIC+8NAAAA
	ANnvVAaQBlFNo6eB+Ce/GZYCAn//BAA=
	</data>
	<key>platform-uuid</key>
	<data>
	hg0THELHVSyzYRDPPJcl4A==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	cnU6MA==
	</data>
	<key>security-mode</key>
	<string>none</string>
</dict>
</plist>
