<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1c,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>TBTDPLowToHigh</key>
		<data>
		AQAAAA==
		</data>
		<key>TBTFlags</key>
		<data>
		AwAAAA==
		</data>
		<key>ThunderboltConfig</key>
		<data>
		AAL//wQABAIBABAABAICAAUABAIBABIABAICAAIAAQA=
		</data>
		<key>ThunderboltDROM</key>
		<data>
		4QCEcjzDSgEACptg+gFeAAEADAABAAiBgAKAAAAACIKQAYAAAAAIg4AEgAEA
		AAiEkAOAAQAACIUAAAAAAAADhiADh4ACyAWJUAAABYpQAAACyw0BQXBwbGUg
		SW5jLgAMAk1hY2ludG9zaAA=
		</data>
		<key>ThunderboltUUID</key>
		<data>
		bYT/DabNYl2Vq0VgT/Xr3w==
		</data>
		<key>linkDetails</key>
		<data>
		CAAAAAMAAAA=
		</data>
		<key>pathcr</key>
		<data>
		BAAAAAAAAAAAAAcAEAAQAAUAAAAAAAAAAAAHABAAEAABAAAABQAOAA4AAAAA
		AAAAAgAAAAAAAAAAAAIAAgABAAMAAAAAAAAAAAAHAAIAAQA=
		</data>
		<key>sscOffset</key>
		<data>
		AAc=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<data>
		8Q==
		</data>
		<key>MaximumBootBeepVolumeAlt</key>
		<data>
		8Q==
		</data>
		<key>PinConfigurations</key>
		<data>
		MJCrAAABpqAQARCQEQEQkCBAKwA=
		</data>
		<key>layout-id</key>
		<data>
		MwAAAA==
		</data>
		<key>multiEQDevicePresence</key>
		<data>
		DAABAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,Gfx324</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,GfxYTile</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,ig-platform-id</key>
		<data>
		AgAmWQ==
		</data>
		<key>AAPL00,PanelCycleDelay</key>
		<data>
		9AEAAA==
		</data>
		<key>AAPL00,PanelPowerDown</key>
		<data>
		PAAAAA==
		</data>
		<key>AAPL00,PanelPowerOff</key>
		<data>
		EQAAAA==
		</data>
		<key>AAPL00,PanelPowerOn</key>
		<data>
		GQEAAA==
		</data>
		<key>AAPL00,PanelPowerUp</key>
		<data>
		MAAAAA==
		</data>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>saved-config</key>
		<data>
		RwAAAAAAAAAAAAAAAAAAAAAAAwACACZZAWwF7gEAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQEBAAYQM6ACA0AAAAAAAAAA
		AAKQbIoPAApABlAAAAAuAAAACAAgACAACABACwgHWgAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		</data>
	</dict>
</dict>
</plist>
