<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HW_BOOT_DATA</key>
	<data>
	AQAAAAU8BQAAE0YgKQAAAAAAAAAAAAAAAD0FAAAoBSEpAAAAAAAAAAAAAAAAPgUAACkI
	IikAAAAAAAAAAAAAAAA/BQAAEEcCMAAAAAAAAAAAAAAAAEAFAAA4FwACAAAAAAAAAAAA
	AAAAQQUAAFIXAAIAAAAAAAAAAAAAAAA4BQAAWQMZKQAAAAAAAAAAAAAAADkFAAA5Ehkp
	AAAAAAAAAAAAAAAAOgUAAEQmGSkAAAAAAAAAAAAAAAA7BQAASTYgKQAAAAAAAAAAAAAA
	AA==
	</data>
	<key>IONVRAM-SYNCNOW-PROPERTY</key>
	<data>
	SU9OVlJBTS1TWU5DTk9XLVBST1BFUlRZ
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>ThorUpdateResult</key>
	<data>
	AAAAAAAAAAA=
	</data>
	<key>backlight-level</key>
	<data>
	pAA=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	ewCsBQAAAAAAAPAYmEi3Xg==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	ewCsBQAAAADwGJhIt14=
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjE1NTc1MjM3LUZD
	RjgtNDhFQS05Nzc0LUYxQjlFOENBMDAyNTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcVGhvclV0aWwuZWZpPC9zdHJpbmc+PC9kaWN0Pjwv
	YXJyYXk+AA==
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAAAAAAAAAAAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAADdSVxX4/OpIl3TxuejKACUCAgQEYABcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABU
	AGgAbwByAFUAdABpAGwALgBlAGYAaQAAAH//BAA=
	</data>
	<key>efi-apple-payload1</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjE1NTc1MjM3LUZD
	RjgtNDhFQS05Nzc0LUYxQjlFOENBMDAyNTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLTkzN0EyMDZGMkVFNjNDMDEtQzBfNi45Ni4w
	LUMxXzQ3LjMtUjAuYmluPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload1-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAAAAAAAAAAAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAADdSVxX4/OpIl3TxuejKACUCAgQEogBcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABN
	AGEAYwAtADkAMwA3AEEAMgAwADYARgAyAEUARQA2ADMAQwAwADEALQBDADAAXwA2AC4A
	OQA2AC4AMAAtAEMAMQBfADQANwAuADMALQBSADAALgBiAGkAbgAAAH//BAA=
	</data>
	<key>efi-apple-payload2</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjE1NTc1MjM3LUZD
	RjgtNDhFQS05Nzc0LUYxQjlFOENBMDAyNTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLTkzN0EyMDZGMkVFNjNDMDEtQzBfNi45Ni4w
	LUMxXzQ3LjMtUjEuYmluPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload2-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAAAAAAAAAAAQBKgABAAAABgAA
	AAAAAAAALAEAAAAAADdSVxX4/OpIl3TxuejKACUCAgQEogBcAEUARgBJAFwAQQBQAFAA
	TABFAFwAVQBQAEQAQQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABN
	AGEAYwAtADkAMwA3AEEAMgAwADYARgAyAEUARQA2ADMAQwAwADEALQBDADAAXwA2AC4A
	OQA2AC4AMAAtAEMAMQBfADQANwAuADMALQBSADEALgBiAGkAbgAAAH//BAA=
	</data>
	<key>efi-backup-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkNBOThGRDBFLUFE
	OTYtNDNENy1BMTRGLTcyNjJCRjlGMDYyOTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMXMyPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XDYzNzZEMTM2LThE
	OEMtNDZDMC05ODU4LTQyQTZBNzZBQzYxRlxTeXN0ZW1cTGlicmFyeVxDb3JlU2Vydmlj
	ZXNcYm9vdC5lZmk8L3N0cmluZz48L2RpY3Q+PC9hcnJheT4A
	</data>
	<key>efi-backup-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAAAAAAAAAAAQBKgACAAAABiwB
	AAAAAAD6FWYFAAAAAG7U8cuK761LiKYRPs9Mi5kCAgQDJAD3/HS+fAvzSZFHAfQELmhC
	Dv2Yypat10OhT3Jiv58GKQQEmgBcADYAMwA3ADYARAAxADMANgAtADgARAA4AEMALQA0
	ADYAQwAwAC0AOQA4ADUAOAAtADQAMgBBADYAQQA3ADYAQQBDADYAMQBGAFwAUwB5AHMA
	dABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABi
	AG8AbwB0AC4AZQBmAGkAAAB//wQA
	</data>
	<key>efi-backup-boot-device-data-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAAAAAAAAAAAQBKgACAAAABiwB
	AAAAAAD6FWYFAAAAAG7U8cuK761LiKYRPs9Mi5kCAgQDJAD3/HS+fAvzSZFHAfQELmhC
	Dv2Yypat10OhT3Jiv58GKQQEmgBcADUAQgA1AEYAOAA4ADEANAAtADAAQwA3AEQALQA0
	AEYAQQBDAC0AOQBBADcAOAAtADQAOQAyAEYANQBCAEEANAA5ADMANQA1AFwAUwB5AHMA
	dABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABi
	AG8AbwB0AC4AZQBmAGkAAAB//wQA
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkNBOThGRDBFLUFE
	OTYtNDNENy1BMTRGLTcyNjJCRjlGMDYyOTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMXMyPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XDVCNUY4ODE0LTBD
	N0QtNEZBQy05QTc4LTQ5MkY1QkE0OTM1NVxTeXN0ZW1cTGlicmFyeVxDb3JlU2Vydmlj
	ZXNcYm9vdC5lZmk8L3N0cmluZz48L2RpY3Q+PC9hcnJheT4A
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAAAAAAAAAAAQBKgACAAAABiwB
	AAAAAAD6FWYFAAAAAG7U8cuK761LiKYRPs9Mi5kCAgQDJAD3/HS+fAvzSZFHAfQELmhC
	Dv2Yypat10OhT3Jiv58GKQQEmgBcADUAQgA1AEYAOAA4ADEANAAtADAAQwA3AEQALQA0
	AEYAQQBDAC0AOQBBADcAOAAtADQAOQAyAEYANQBCAEEANAA5ADMANQA1AFwAUwB5AHMA
	dABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABi
	AG8AbwB0AC4AZQBmAGkAAAB//wQA
	</data>
	<key>fmm-computer-name</key>
	<data>
	TXlrb2xh4oCZcyBNYWNCb29rIFBybw==
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBs************************************************************U3Rh
	dGVY************************************************************ZUNv
	bnRl************************************************************VGlt
	ZVRn************************************************************cxAA
	0xAR************************************************************dE5h
	bWVf************************************************************YVlH
	cnlt************************************************************QzVo
	ZFhS************************************************************aXdG
	bEZr************************************************************dElh
	TDBs************************************************************TjNE
	YTJK************************************************************I0HW
	/oKzrk6+XxAkMjMzQTdDQkEtNTU4NS00NUZCLUEzOUYtNDNBOTNERUEzOTY4oR5fECFj
	b20u************************************************************cHNF
	bnZY************************************************************cm9k
	dWN0************************************************************NS1C
	QTM4************************************************************AJIA
	mgCf************************************************************ogKw
	Arc******************************************************xk=
	</data>
	<key>fmm-mobileme-token-FMM-BridgeHasAccount</key>
	<data>
	QnJpZGdlSGFzQWNjb3VudFZhbHVl
	</data>
	<key>gpu-policy</key>
	<data>
	AQ==
	</data>
	<key>multiupdater-0-1</key>
	<data>
	VABoAG8AcgBVAHQAaQBsAC4AZQBmAGkAAAAtAGcAIAAtAG8AIAAtAHMAcgAgADAAIAAw
	ACAALQBmAHMAIABlAGYAaQAtAGEAcABwAGwAZQAtAHAAYQB5AGwAbwBhAGQAMQAtAGQA
	YQB0AGEAIAAtAGcAIAAtAG8AIAAtAHMAcgAgADEAIAAwACAALQBmAHMAIABlAGYAaQAt
	AGEAcABwAGwAZQAtAHAAYQB5AGwAbwBhAGQAMgAtAGQAYQB0AGEAIAAtAG4AbwByAGUA
	cwBlAHQAIAAAAAEAAAABAAAAAAAAAAAAAAAAAA==
	</data>
	<key>multiupdater-retry-limits</key>
	<data>
	AQAAAAEAAAAAAAAA
	</data>
	<key>multiupdater-start-timestamp</key>
	<data>
	MjAxOS0xMC0wNyAyMTowMjoxNyBaMCBEMA==
	</data>
	<key>multiupdater-state</key>
	<data>
	AQAAAAEAAAABAAAAAQAAAAEAAAA=
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46MA==
	</data>
</dict>
</plist>
