<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALS_Data</key>
	<data>
	BQw=
	</data>
	<key>BootCampProcessorPstates</key>
	<data>
	DwA=
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	XQ==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	7w==
	</data>
	<key>Test_ALS_Data</key>
	<data>
	AQA=
	</data>
	<key>backlight-level</key>
	<data>
	nQc=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	iYKsBQAAAACDFDwVwuRi+Q==
	</data>
	<key>boot-image</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAQcAQEGAAAAAxIKAAAAAAAAAAQEGgAxADEANABjADgAMAA2
	ADAAMAAwAAAAf/8EAA==
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjQm9vayBQcm8gLSDQkNC70LjQvdCw
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDXAQIDBAUGBwgJFBUWFxhWdXNlcmlkXxATZGF0YWNsYXNzUHJvcGVydGll
	c1lhdXRoVG9rZW5YcGVyc29uSURYdXNlcm5hbWVfEBJlbmFibGVkRGF0YWNsYXNzZXNY
	dXNlckluZm8RAfXRCgtfECFjb20uYXBwbGUuRGF0YWNsYXNzLkRldmljZUxvY2F0b3LU
	DA0ODxAREhNWYXBzRW52WGhvc3RuYW1lXWF1dGhNZWNoYW5pc21Wc2NoZW1lWlByb2R1
	Y3Rpb25fEBNwMTYtZm1pcC5pY2xvdWQuY29tVXRva2VuVWh0dHBzXxAoQVFBQUFBQlVM
	azJwcFVmbjYtUE1xMWVIdy1HYjJwWEx6TXF2eDVrflk0MTU0Nzk0MzJfEBRma2J5anhy
	Zjg4QHlhbmRleC5ydaEK0xkaGxwdHl8QFUluVXNlT3duZXJEaXNwbGF5TmFtZV8QE0lu
	VXNlT3duZXJGaXJzdE5hbWVfEBJJblVzZU93bmVyTGFzdE5hbWVvEA8EEAQ7BDgEPQQw
	ACAEHARDBEEEQgQwBEQEOAQ9BDBlBBAEOwQ4BD0EMGkEHARDBEEEQgQwBEQEOAQ9BDAA
	CAAXAB4ANAA+AEcAUABlAG4AcQB0AJgAoQCoALEAvwDGANEA5wDtAPMBHgEoAT8BQQFI
	AWABdgGLAawBtwAAAAAAAAIBAAAAAAAAAB8AAAAAAAAAAAAAAAAAAAHK
	</data>
</dict>
</plist>
